{% if uikit.section.svg.truetone %}
    {{ snippet.infolabel('Toggle true tone') }}
    {% call snippet.infocontent() %}
        Toggle for show true tone on icons. <br /> (Only if the color is available)
    {% endcall %}
    <div id="uikit-switch-render">
        {{ snippet.togglebutton('uikit-toggle-truetone') }}
    </div>
{% endif %}

{% if uikit.section.svg.collection %}
    {{ snippet.infolabel('SVG collection') }}
    {% call snippet.infocontent() %}
        To view the entire list of svg icons installed consult <a href="{{uikit.section.svg.examplefile}}">this page</a>.
    {% endcall %}
{% endif %}

{{ snippet.infolabel('Info') }}
{% call snippet.infocontent() %}
    The colors of the icons are just an example. It is necessary to create additional classes to draw up the desired effect.
{% endcall%}

{{ snippet.infolabel('Markup') }}
{{ snippet.code('html','<svg role="img">
    <use xlink:href="path/to/svgspritemap#filename"></use>
</svg>')}}
