<section class="uikit-element-render">
    <h2 class="section-title">SVG Inline</h2>
    <div class="section-description">
        {% include "sections/svg/svg-info.njk" %}
    </div>
    {% include "sections/svg/svg-script.njk" %}
    {% include "sections/svg/svg-style.njk" %}
    {% include "sections/svg/svg-content.njk" %}
</section>
