// @colors: palette
// --------------------------------

$palette-color: (
    1: #666666,
    2: #8c8c8c,
    3: #b2b2b2,
    4: #d9d9d9,
    5: #efefef
);

// @colors: accessibility
// --------------------------------

$global-selection-background-color: #b3d4fc;
$global-selection-color: false;
$selection-color: initial;
$ios-tap-color: transparent;

// @colors: global
// --------------------------------

$body-background-gradient: false;
$body-background-gradient-value: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
$body-background-color: white;
$body-base-color: black;
$global-heading-color: inherit;
$global-paragraph-color: inherit;
$global-link-color: inherit;
