// @colors: palette
// --------------------------------

$colors-palette: (
    1: #f9f9f9,
    2: #d7dde4,
    3: #0099cc,
    4: #4d4d4d,
    5: #9C0000
) !default;

// @colors: accessibility
// --------------------------------

$selection-background-color: #b3d4fc !default;
$global-selection-color: false !default;
$selection-color: initial !default;
$ios-tap-color: transparent !default;

// @colors: global
// --------------------------------

$body-background-color: white !default;
$body-base-color: black !default;
$global-heading-color: inherit !default;
$global-paragraph-color: inherit !default;
$global-link-color: inherit !default;
