// @global-fonts
// @note: $google-fonts-family accept the name of the font after string `?family=`.
// --------------------------------

$font-dir: '../fonts/';
$google-fonts-load: true;
$google-fonts-name: 'Work+Sans:400,700|Josefin+Sans:400,400i,700|Abril+Fatface';
$gfont-1: 'Work Sans', sans-serif;
$font-face-load: false;
$font-face-map: (
    'MyFontFamilyAwesome': ('myfilename', normal, 400, woff woff2)
);
