// @global-fonts
// @note: $google-fonts-family accept the name of the font after string `?family=`.
// --------------------------------

$font-dir: '../assets/fonts/' !default;
$google-fonts-load: false !default;
$google-fonts-name: 'MyAwesomeGoogleFont' !default;
$font-face-load: false !default;
$font-face-map: (
    'MyFontFamily': ('myfilename', normal, 400, eot woff woff2 ttf svg)
) !default;
