// @global-fonts
// @note: $google-fonts-family accept the name of the font after string `?family=`.
// --------------------------------

$font-dir: '../assets/fonts/';
$google-fonts-load: true;
$google-fonts-name: 'Abril+Fatface|Work+Sans:400,700|Josefin+Sans:400,400i,700';
$gfont-1: 'Work Sans', sans-serif;
$font-face-load: false;
$font-face-map: (
    'MyFontFamily': ('myfilename', normal, 400, eot woff woff2 ttf svg)
);
