// @foundation grid
// @foundation
// --------------------------------

$grid-row-width: 1200px !default;
$grid-column-count: 12 !default;
$grid-column-gutter: (
    small: 20px,
    medium: 30px,
) !default;
$grid-column-align-edge: true !default;
$global-left: if($global-text-direction == rtl, right, left) !default;
$global-right: if($global-text-direction == rtl, left, right) !default;
$block-grid-max: 6 !default;
