// @layout: global
// --------------------------------

$focus-outline-link-hidden: true !default;
$focus-outline-input-hidden: true !default;
$what-input-outline-detect: true !default;
$global-flexbox-clearfix: true !default;
$global-link-text-decoration: true !default;
