// @layout: global
// --------------------------------

$flex: true;
$focus-outline-link-hidden: true;
$focus-outline-input-hidden: true;
$what-input-outline-detect: true;
$global-link-text-decoration: true;
