// @layout: global
// --------------------------------

$focus-outline-link-hidden: true !default;
$focus-outline-input-hidden: true !default;
$what-input-outline-detect: true !default;
$global-flexbox-clearfix: true !default;
$global-link-text-decoration: true !default;
$global-margin-heading: true !default;
$global-margin-paragraph: false !default;
$margin-heading: 0 0 16px 0 !default;
$margin-paragraph: 0 !default;
