// @print
// --------------------------------

$global-transparent-background-print: false !default;
$global-color-black-print: false !default;
$global-margin-print: 0.5cm !default;
$global-link-href-show: false !default;
