// @components: shapes
// --------------------------------

$global-arrow-size: 20px !default;
$global-arrow-color: palette(4) !default;
$global-arrow-width: 3px !default;
$global-checkmark-size: 20px !default;
$global-checkmark-color: palette(4) !default;
$global-checkmark-width: 3px !default;
$global-shape-close-size: 20px !default;
$global-shape-close-color: palette(4) !default;
$global-shape-close-line-size: 2px !default;
