// @components: shapes
// --------------------------------

$global-arrow-color: palette(charcoal) !default;
$global-arrow-width: 3px !default;
$global-checkmark-color: palette(charcoal) !default;
$global-checkmark-width: 3px !default;
