// @components: shapes
// --------------------------------

$global-arrow-color: palette(4) !default;
$global-arrow-width: 3px !default;
$global-checkmark-color: palette(4) !default;
$global-checkmark-width: 3px !default;
$global-close-shape-color: palette(4);
$global-close-shape-line-size: 2px;
