// @typography
// --------------------------------

$body-font-size: 16px;
$body-font-family: sans-serif;
$body-font-weight: normal;
$body-line-height: 1.15;
$global-text-direction: ltr;
$global-heading-font-family: inherit;
$global-paragraph-font-family: inherit;
$global-strong-font-family: inherit;
$global-strong-font-weight: bolder;

// @typography ~ headers + paragraph
// --------------------------------

$global-heading-font-weight: bold;
$global-paragraph-font-weight: normal;
$global-heading-line-height: 1.4;
$global-paragraph-line-height: 1.4;
$header-sizes: (
    small: (
        'h1': 24px,
        'h2': 20px,
        'h3': 19px,
        'h4': 18px,
        'h5': 17px,
        'h6': 16px,
    ),
    medium: (
        'h1': 48px,
        'h2': 40px,
        'h3': 31px,
        'h4': 25px,
        'h5': 20px,
        'h6': 16px,
    ),
);
$global-heading-letter-spacing: normal;
$global-paragraph-letter-spacing: normal;
$global-heading-text-transform: uppercase;
$global-paragraph-text-transform: none;
$global-margin-heading: true;
$global-margin-paragraph: false;
$margin-heading: 0 0 16px 0;
$margin-paragraph: 0;
