// @foundation: xy-grid
// --------------------------------

$grid-container: 1200px;
$grid-columns: 12;
$grid-margin-gutters: (
    small: 20px,
    medium: 30px
);
$grid-padding-gutters: $grid-margin-gutters;
$grid-container-padding: $grid-padding-gutters;
$grid-container-max: $grid-container;
$xy-block-grid-max: 8;
