<section class="uikit-section-type">
    <div class="controllers" hidden="true">
        {% include "sections/palette/palette-script.njk" %}
        {% include "sections/palette/palette-style.njk" %}
    </div>
    <h2 class="section-title">Palette</h2>
    <h3 class="section-title-type">Colors palette</h3>
    {% include "sections/palette/palette-content.njk" %}
</section>
