{% macro infolabel(text) %}
    <span class="info-label">{{text}}</span>
{% endmacro %}

{% macro mixin(name) %}
<span class="mixin-code">
    <span class="include">@include</span>
    <span class="mixin-name">{{name}}</span>
</span>
{% endmacro %}

{% macro sassvar(name) %}
    <span class="sass-code">${{name}}</span>
{% endmacro %}

{% macro sassfunction(param,function,value) %}
<code class="sass-function-snippet">
    <span class="selector">.selector </span><span class="brackets">{</span>
        <span class="property-group">
            <span class="property">{{param}}:</span><span class="sass-function">{{function}}</span>(<span class="function-sass-param">{{value}}</span>)
        </span>
    <span class="brackets">}</span>
</code>
{% endmacro %}
