{% macro infolabel(text) %}
    <span class="info-label">{{text}}</span>
{% endmacro %}

{% macro mixin(name) %}
<span class="mixin-code">
    <span class="include">@include</span>
    <span class="mixin-name">{{name}}</span>
</span>
{% endmacro %}

{% macro sassvar(name) %}
    <span class="sass-code">${{name}}</span>
{% endmacro %}
