<script type="text/javascript">
/**
 * @function: Array.prototype.clean
 * @param: {string}
 * @return: [Array]
 * @description: clean a value of an Array.
 */

Array.prototype.clean = function(deleteValue) {
    for (var i = 0; i < this.length; i++) {
        if (this[i] == deleteValue) {
            this.splice(i, 1);
            i--;
        }
    }

    return this;
};

/**
 * @function: getFontsInstalled
 * @param: {document.styleSheets}
 * @return: {String}
 * @description: Render the font installed via @font-face or Google Fonts.
 * @author: mbertoldo@alpenite.com
 */

function getFontsInstalled(sheet) {
    var sheets = typeof sheet !== 'undefined' ? [sheet] : document.styleSheets[0],
        fontFace,
        gFonts;

    for (var j = 0, k = sheets.cssRules.length || sheets.rules.length; j < k; j++) {
        var rule = sheets.cssRules[j] || sheets.rules[j];

        if (rule.toString() == "[object CSSFontFaceRule]") {
            var value = rule;
            var fontFamilyName = value.style.fontFamily || value.style.cssText.match(/font-family\s*:\s*([^;\}]*)\s*[;}]/i)[1];
            fontFamilyName = [fontFamilyName].join().replace(/"/g, '');
            var fontStyle = value.style.fontStyle;
            var fontWeight = value.style.fontWeight;
            var list = document.createElement('li');
            var p = document.createElement('p');
            var span = document.createElement('span');
            var em = document.createElement('em');

            list.setAttribute("style",
                "font-family:" + '"' + fontFamilyName + '"' + ";" +
                "font-style:" + fontStyle + ";" +
                "font-weight:" + fontWeight + ";");
            p.appendChild(document.createTextNode('Aa'));
            span.setAttribute('class','family-name');
            span.appendChild(document.createTextNode(fontFamilyName));
            em.appendChild(document.createTextNode('Font Face'));
            list.appendChild(p);
            list.appendChild(span);
            list.appendChild(em);

            fontFace = document.getElementById('font-list').appendChild(list);
        } else if (rule.toString() == "[object CSSImportRule]") {
            if (rule.href != undefined) {
                var href = rule.href;
                var familiesToSplit = href.split('https://fonts.googleapis.com/css?family=').clean('');
                var extraParam;

                if (familiesToSplit[0] != undefined) {
                    if (href.match(/fonts.googleapis/)) {
                        fontToSplit = familiesToSplit[0].split('|');

                        fontToSplit.map(function(item) {
                            var fontFamilyName = item.split(':')[0].replace(/\+/g,' ');

                            if (item.split(':').length > 1) {
                                extraParam = ' ' + item.split(':').clean(item.split(':')[0]).join().replace(/i/g,' Italic');
                            } else {
                                extraParam = '';
                            }

                            var list = document.createElement('li');
                            var p = document.createElement('p');
                            var span = document.createElement('span');
                            var a = document.createElement('a');

                            list.setAttribute("style",
                                "font-family:" + '"' + fontFamilyName + '"' + ";" +
                                "font-style:normal;" +
                                "font-weight:normal;");
                            p.appendChild(document.createTextNode('Aa'));
                            span.setAttribute('class','family-name');
                            a.setAttribute('href','https://fonts.google.com?selection.family=' + item);
                            a.setAttribute('target','blank');
                            span.appendChild(document.createTextNode(fontFamilyName + extraParam));
                            a.appendChild(document.createTextNode('Google Font'));
                            list.appendChild(p);
                            list.appendChild(span);
                            list.appendChild(a);

                            gFonts = document.getElementById('font-list').appendChild(list);
                        });
                    }
                }
            }
        }
    }

    if (fontFace == undefined && gFonts == undefined) {
        var h2 = document.createElement('h2');
        h2.innerHTML = 'It looks like you have not installed any fonts. <br /> What a bad style.';
        document.getElementById('font-list').appendChild(h2);
    }

    return fontFace, gFonts;
}

window.addEventListener('load', function() {
    getFontsInstalled();
});
</script>
