{{ snippet.infolabel('Primary Mixin') }}
{{ snippet.mixin('global-fonts') }}

{{ snippet.infolabel('Related Mixin') }}
{{ snippet.mixin('font-face') }}

{{ snippet.infolabel('Variabiles') }}
{{ snippet.sassvar('google-fonts-family') }}
{{ snippet.sassvar('font-face-map') }}

{{ snippet.infolabel('Function for font-face') }}
{{ snippet.code('scss','.selector {
    font-family: font($nth-key-font-face-map);
}')}}
