{% set fontscolor = uikit.section.fonts.color %}
<style type="text/css">
#renderkit-body #font-list {
    display: block;
    width: 100%;
    max-width: 1400px;
    list-style-type: none;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    margin: 80px auto 0;
    padding: 0;
}

@media only screen and (max-width: {{uikit.breakpoint.large + 'px'}}) {
    #renderkit-body #font-list {
        margin: 40px auto 0;
    }
}

#renderkit-body #font-list li {
    display: inline-block;
    vertical-align: middle;
    width: 285px;
    height: auto;
    text-align: center;
    letter-spacing: normal;
    color: {% if uikit.style.darkmode %} #f5f5f5 {% else %} {{fontscolor}} {% endif %};
    margin: 0;
    padding: 16px 16px 25px;
}

@media only screen and (max-width: {{uikit.breakpoint.medium + 'px'}}) {
    #renderkit-body #font-list li {
        width: 100%;
    }
}

#renderkit-body #font-list li p {
    display: block;
    font-family: inherit;
    font-size: 90px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    text-transform: none;
    text-shadow: -10px 10px 10px rgba(0, 0, 0, 0.25);
    line-height: 1;
    letter-spacing: normal;
    color: inherit;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: {{uikit.breakpoint.medium + 'px'}}) {
    #renderkit-body #font-list li p {
        font-size: 70px;
    }
}

#renderkit-body #font-list li .family-name {
    display: block;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    font-style: inherit;
    letter-spacing: normal;
    color: inherit;
    margin: 0;
    padding: 4px 0 0 0;
}

#renderkit-body #font-list li a,
#renderkit-body #font-list li em {
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: underline;
    text-shadow: none;
    color: {% if uikit.style.darkmode %} #f5f5f5 {% else %} {{fontscolor}} {% endif %};
}

#renderkit-body #font-list li a {
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

#renderkit-body #font-list li a:hover {
    opacity: 0.7;
}

#renderkit-body #font-list h2 {
    font-family: {{uikit.style.title.family}};
    font-size: 24px;
    font-weight: {{uikit.style.title.weight}};
    text-transform: {{uikit.style.title.texttransform}};
    text-shadow: none;
    letter-spacing: 0.031em;
    line-height: 1.4;
    color: {{uikit.style.title.color}};
}

@media only screen and (max-width: {{uikit.breakpoint.large + 'px'}}) {
    #renderkit-body #font-list h2 {
        font-size: 20px;
    }
}
</style>
