<style id="uikit-render">
.palette-list {
    max-width: 1100px;
    width: 100%;
    text-align: center;
    margin: 80px auto 0;
    padding: 0;
}

.palette-list > li {
    display: inline-table;
    list-style: none;
    width: 170px;
    height: 170px;
    text-align: center;
    border-radius: 50%;
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
}

.palette-list > li:last-of-type {
    margin-bottom: 0;
}

.palette-list > li p {
    font-size: 18px;
    line-height: 1.4;
    display: table-cell;
    vertical-align: middle;
}

.palette-list > li span,
.palette-list > li em {
    display: block;
}

.palette-list > li em {
    font-size: 10px;
}
</style>
