<style type="text/css">
#renderkit-body #palette-list {
    width: 100%;
    max-width: 1100px;
    text-align: center;
    margin: 60px auto 25px;
    padding: 0;
}

#renderkit-body #palette-list > li {
    display: inline-table;
    position: relative;
    list-style: none;
    width: 150px;
    height: 150px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 0;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    will-change: transform;
}

#renderkit-body #palette-list > li.transparent {
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPCEtLSBHZW5lcmF0b3I6IEFkb2JlIElsbHVzdHJhdG9yIDIxLjAuMiwgU1ZHIEV4cG9ydCBQbHVnLUluIC4gU1ZHIFZlcnNpb246IDYuMDAgQnVpbGQgMCkgIC0tPgo8c3ZnIHZlcnNpb249IjEuMSIgaWQ9IkxpdmVsbG9fMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayIgeD0iMHB4IiB5PSIwcHgiCgkgdmlld0JveD0iMCAwIDEwIDEwIiBzdHlsZT0iZW5hYmxlLWJhY2tncm91bmQ6bmV3IDAgMCAxMCAxMDsiIHhtbDpzcGFjZT0icHJlc2VydmUiPgo8c3R5bGUgdHlwZT0idGV4dC9jc3MiPgoJLnN0MHtmaWxsOiNENkQ2RDY7fQoJLnN0MXtmaWxsOiNGRkZGRkY7fQo8L3N0eWxlPgo8Zz4KCTxnPgoJCTxyZWN0IGNsYXNzPSJzdDAiIHdpZHRoPSI1IiBoZWlnaHQ9IjUiLz4KCTwvZz4KCTxnPgoJCTxyZWN0IHg9IjUiIGNsYXNzPSJzdDEiIHdpZHRoPSI1IiBoZWlnaHQ9IjUiLz4KCTwvZz4KCTxnPgoJCTxyZWN0IHg9IjUiIHk9IjUiIGNsYXNzPSJzdDAiIHdpZHRoPSI1IiBoZWlnaHQ9IjUiLz4KCTwvZz4KCTxnPgoJCTxyZWN0IHk9IjUiIGNsYXNzPSJzdDEiIHdpZHRoPSI1IiBoZWlnaHQ9IjUiLz4KCTwvZz4KPC9nPgo8L3N2Zz4K);
    background-repeat: repeat;
    background-size: 10px 10px;
}

#renderkit-body #palette-list > li::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: inherit;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    opacity: 0;
    z-index: -1;
    -webkit-transform: scale3d(0, 0, 0) translate3d(0, 0, 0);
    transform: scale3d(0, 0, 0) translate3d(0, 0, 0);
    transition: -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.5s ease;
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.5s ease;
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.5s ease;
    will-change: transform, opacity;
}

#renderkit-body #palette-list > li:hover::after {
    opacity: 0.85;
    -webkit-transform: scale3d(1.08, 1.08, 1.08) translate3d(0, 0, 0);
    transform: scale3d(1.08, 1.08, 1.08) translate3d(0, 0, 0);
}

#renderkit-body #palette-list > li:last-of-type {
    margin-bottom: 0;
}

#renderkit-body #palette-list .render-hex {
    display: table-cell;
    vertical-align: middle;
    position: relative;
    -webkit-perspective: 500px;
    perspective: 500px;
    -webkit-perspective-origin: 50% 50%;
    perspective-origin: 50% 50%;
    position: relative;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    text-transform: none;
    text-shadow: none;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#renderkit-body #palette-list .render-hex .copied-to-clipboard {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Montserrat', sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 1.4;
    text-align: center;
    text-transform: uppercase;
    opacity: 0;
    -webkit-transform: translate3d(0, -40px, 0);
    transform: translate3d(0, -40px, 0);
    transition: -webkit-transform 0.55s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.6s ease;
    transition: transform 0.55s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.6s ease;
    transition: transform 0.55s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.55s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.6s ease;
    will-change: transform, opacity;
}

#renderkit-body #palette-list .render-hex.perspective .copied-to-clipboard {
    -webkit-transform: translate3d(0, 200%, 0);
    transform: translate3d(0, 200%, 0);
    opacity: 1;
}

#renderkit-body #palette-list .render-hex strong,
#renderkit-body #palette-list .render-hex span,
#renderkit-body #palette-list .render-hex em {
    transition: -webkit-transform 0.55s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.5s ease;
    transition: transform 0.55s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.5s ease;
    transition: transform 0.55s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.55s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.5s ease;
    will-change: transform, opacity;
}

#renderkit-body #palette-list .render-hex.perspective strong,
#renderkit-body #palette-list .render-hex.perspective span,
#renderkit-body #palette-list .render-hex.perspective em {
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0);
    opacity: 0;
}

#renderkit-body #palette-list strong {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.4;
    text-transform: none;
    margin: 0;
    padding: 0;
}

#renderkit-body #palette-list span,
#renderkit-body #palette-list em {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    color: inherit;
}

#renderkit-body #palette-list em {
    font-size: 10px;
}

#renderkit-body #palette-list h2 {
    font-family: {{uikit.style.title.family}};
    font-size: 24px;
    font-weight: {{uikit.style.title.weight}};
    text-transform: {{uikit.style.title.texttransform}};
    text-shadow: none;
    letter-spacing: 0.031em;
    line-height: 1.4;
    color: {{uikit.style.title.color}};
}

#renderkit-body #palette-list h2 .selector {
    color: #d19a66;
}

#renderkit-body #palette-list h2 .scss {
    color: #e31d79;
    opacity: 0.7;
}

@media only screen and (max-width: {{uikit.breakpoint.large + 'px'}}) {
    #renderkit-body #palette-list h2 {
        font-size: 20px;
    }
}
</style>
