<style type="text/css">
#renderkit-body #palette-list {
    width: 100%;
    max-width: 1100px;
    text-align: center;
    margin: 60px auto 25px;
    padding: 0;
}

#renderkit-body #palette-list > li {
    display: inline-table;
    position: relative;
    list-style: none;
    width: 150px;
    height: 150px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    border-radius: 50%;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    margin-left: 25px;
    margin-right: 25px;
    margin-bottom: 25px;
    padding: 0;
    cursor: pointer;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    transform: scale3d(1, 1, 1) translate3d(0, 0, 0);
    transition: -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    transition: transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    will-change: transform;
}

#renderkit-body #palette-list > li::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: inherit;
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    opacity: 0;
    z-index: -1;
    -webkit-transform: scale3d(0, 0, 0) translate3d(0, 0, 0);
    transform: scale3d(0, 0, 0) translate3d(0, 0, 0);
    transition: -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.5s ease;
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.5s ease;
    transition: transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275), opacity 0.5s ease;
    will-change: transform, opacity;
}

#renderkit-body #palette-list > li:hover {
    -webkit-transform: scale3d(1.02, 1.02, 1.02) translate3d(0, 0, 0);
    transform: scale3d(1.02, 1.02, 1.02) translate3d(0, 0, 0);
}

#renderkit-body #palette-list > li:hover::after {
    opacity: 0.85;
    -webkit-transform: scale3d(1.08, 1.08, 1.08) translate3d(0, 0, 0);
    transform: scale3d(1.08, 1.08, 1.08) translate3d(0, 0, 0);
}

#renderkit-body #palette-list > li:last-of-type {
    margin-bottom: 0;
}

#renderkit-body #palette-list > li p {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    line-height: 1.4;
    text-transform: none;
    text-shadow: none;
    letter-spacing: normal;
    margin: 0;
    padding: 0;
}

#renderkit-body #palette-list > li strong {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: normal;
    line-height: 1.4;
    text-transform: none;
    margin: 0;
    padding: 0;
}

#renderkit-body #palette-list > li span,
#renderkit-body #palette-list > li em {
    display: block;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    color: inherit;
}

#renderkit-body #palette-list > li em {
    font-size: 10px;
}

#renderkit-body #palette-list h2 {
    font-family: 'Abril Fatface', coursive;
    font-size: 24px;
    font-weight: bold;
    text-transform: none;
    text-shadow: none;
    letter-spacing: 0.031em;
    line-height: 1.4;
    color: #1a1a1c;
    opacity: 0.75;
}

#renderkit-body #palette-list h2 .selector {
    color: #d19a66;
}

#renderkit-body #palette-list h2 .scss {
    color: #e31d79;
    opacity: 0.7;
}

@media only screen and (max-width: {{uikit.breakpoint.large + 'px'}}) {
    #renderkit-body #palette-list h2 {
        font-size: 20px;
    }
}
</style>
