// @define global vars
// @param: {String}
// @author: mbertoldo@alpenite.com
// @include: style.scss
// @access: public

// @breakpoints
// @foundation
// @medium: iPhone 6/7 landscape mode
// ----------------

$breakpoints: (
    small: 0,
    medium: 667px,
    large: 768px,
    xlarge: 1024px,
    xxlarge: 1280px
) !default;
$breakpoint-classes: (small medium large) !default;
$-zf-zero-breakpoint: small !default;

// @colors palette
// ----------------

$colors-palette: (
    whitesmoke: #f9f9f9,
    linkwater: #d7dde4,
    pacificblue: #0099cc,
    charcoal: #4d4d4d
) !default;
$color-whitesmoke: map-get($colors-palette, whitesmoke) !default;
$color-linkwater: map-get($colors-palette, linkwater) !default;
$color-pacificblue: map-get($colors-palette, pacificblue) !default;
$color-charcoal: map-get($colors-palette, charcoal) !default;

// @colors: accessibility
// ----------------

$selection-background-color: #b3d4fc !global;
$global-selection-color: false !default;
$selection-color: initial !default;

// @colors: global
// ----------------

$global-background-color: white !default;
$global-base-color: black !default;
$global-heading-color: inherit !default;
$global-paragraph-color: inherit !default;
$global-link-color: black !default;
$global-hover-link-color: black !default;

// @colors: input
// @form
// ----------------

$global-input-color: black !default; //TODO: set on custom form configuration
$global-input-border: lightgray !default; //TODO: set on custom form configuration
$global-custom-input-border: lightgray !default;
$hover-custom-input-border: false !default;
$hover-custom-input-border-color: initial !default;
$checked-custom-input-border: true !default;
$custom-checkbox-checked-border: #333 !default;
$custom-radio-checked-border: #333 !default;
$custom-checkbox-mark-color: #333 !default;
$custom-radio-mark-color: #333 !default;

// @typography
// ----------------

$font-dir: '../assets/fonts/' !global;
$global-text-direction: ltr !default;
$primary-type-font: sans-serif !default;
$global-font-family: $primary-type-font;
$global-heading-font-family: inherit !default;
$global-paragraph-font-family: inherit !default;
$global-strong-font-family: inherit !default;
$global-strong-font-weight: bolder !default;
$global-font-weight: normal !default;
$global-heading-font-weight: bold !default;
$global-paragraph-font-weight: normal !default;
$global-line-height: 1.15 !default;
$global-heading-line-height: 1.4 !default;
$global-paragraph-line-height: 1.4 !default;
$header-sizes: (
    small: (
        'h1': 24px,
        'h2': 20px,
        'h3': 19px,
        'h4': 18px,
        'h5': 17px,
        'h6': 16px,
    ),
    medium: (
        'h1': 48px,
        'h2': 40px,
        'h3': 31px,
        'h4': 25px,
        'h5': 20px,
        'h6': 16px,
    ),
) !default;
$global-heading-letter-spacing: normal !default;
$global-paragraph-letter-spacing: normal !default;

// @grid
// @foundation
// ----------------

$global-left: if($global-text-direction == rtl, right, left);
$global-right: if($global-text-direction == rtl, left, right);
$grid-row-width: 1200px !default;
$grid-column-count: 12 !default;
$grid-column-gutter: (
    small: 20px,
    medium: 30px,
) !default;
$grid-column-align-edge: true !default;
$-zf-end-float: if($grid-column-align-edge, $global-right, $global-left);
$block-grid-max: 6 !default;

// @layout
// @param: $global-reset-input-appearance == true
// @note: it is highly recommended to remove the unexpected style input fields on iOS devices.
// ----------------

$global-reset-input-appearance: true !default;
$global-custom-checkbox-radio: true !default;
$global-custom-select: false !default; //TODO: set on custom form configuration
$global-custom-options-select: false !default; //TODO: set support via JS
$global-flexbox-clearfix: true !default;
$global-link-text-decoration: false !default;
$global-input-border-radius: 0 !default; //TODO: set on custom form configuration
$global-margin-heading: true !default;
$global-margin-paragraph: false !default;
$margin-heading: 0 0 16px 0 !default;
$margin-paragraph: 0 0 0 0 !default;

// @print
// ----------------

$global-transparent-print-background: false !default;
$global-margin-print: 0.5cm !default;
$global-link-href-show: false !default;

// @transitions
// ----------------

$fast: 0.3s !default;
$medium: 0.45s !default;
$slow: 0.7s !default;
$cubic-1: cubic-bezier(0.7, 0, 0.3, 1) !default;
$cubic-2: cubic-bezier(0.77, 0, 0.175, 1) !default;
$transition-1: $fast $cubic-1;
$transition-2: $fast $cubic-2;
$transition-3: $medium $cubic-1;
