{{ snippet.infolabel('Primary Mixins') }}
{{ snippet.mixin('headers-style') }}
{{ snippet.mixin('paragraph-style') }}

{{ snippet.infolabel('Related Mixin') }}
{{ snippet.mixin('headers-style-bp') }}
{{ snippet.mixin('foundation-text-alignment') }}
{{ snippet.mixin('text-transform-classes') }}

{{ snippet.infolabel('Variabiles') }}
{{ snippet.sassvar('header-styles') }}

{{ snippet.infolabel('Info') }}
{% call snippet.infocontent() %}
    Go to hover or tap on any "header" to display all the information for font family, font size, line height and letter spacing.
{% endcall%}
