<div id="typography-list" class="typography-list">
    <div class="header-render">
        {% for i in range(0, 6) %}
            <div class="header-containter">
                <b class="header">h{{i +1}} &amp; .h{{i +1}}</b>
                <h{{i + 1}} class="h">
                    Header.
                    <div class="header-info-style">
                        <p class="font-style-rule font-style-rule-animatable">
                            <i class="family"></i>
                            <span class="font-family-value"></span>
                        </p>
                        <ul class="font-style-rule">
                            <li class="font-style-rule-animatable delay-1">
                                <i class="size"></i>
                                <span class="font-size-value"></span>
                            </li>
                            <li class="font-style-rule-animatable delay-2">
                                <i class="lineheight"></i>
                                <span class="line-height-value"></span>
                            </li>
                            <li class="font-style-rule-animatable delay-3">
                                <i class="letterspacing"></i>
                                <span class="letter-spacing-value"></span>
                            </li>
                        </ul>
                    </div>
                </h{{i + 1}}>
            </div>
        {% endfor %}
    </div>
    <div class="paragraph-render">
        <b class="paragraph">p &amp; a</b>
        <p class="p">
            <q>Cupcake ipsum dolor sit amet chupa chups liquorice donut pie. <b>Brownie</b> gingerbread sesame snaps toffee chupa chups <em>sweet</em> roll. Bonbon wafer ice cream gummies chocolate bar <b>candy sweet</b> roll apple pie. Chupa chups <a href="javascript:void(0)">linked</a> jelly-o candy canes toffee. <em>Sugar</em> plum brownie powder sweet roll chocolate bar gingerbread lemon drops pudding.</q>
        </p>
        <div class="paragraph-info-style">
            <p class="family-render">
                <i class="family"></i>
                <span class="font-family"></span>
            </p>
            <ul class="font-style-rule">
                <li>
                    <i class="size"></i>
                    <p class="font-size-value"></p>
                </li>
                <li>
                    <i class="lineheight"></i>
                    <p class="line-height-value"></p>
                </li>
                <li>
                    <i class="letterspacing"></i>
                    <p class="letter-spacing-value"></p>
                </li>
            </ul>
        </div>
    </div>
</div>
