{{ snippet.infolabel('Primary Mixins') }}
{{ snippet.mixin('headers-style') }}
{{ snippet.mixin('paragraph-style') }}

{{ snippet.infolabel('Related Mixin') }}
{{ snippet.mixin('headers-style-responsive') }}

{{ snippet.infolabel('Variabiles') }}
{{ snippet.sassvar('header-styles') }}
