{% if uikit.section.typography.show %}
    <section class="uikit-element-render">
        <h2 class="section-title">Typography</h2>
        <div class="section-description">
            {% include "sections/typography/typography-info.njk" %}
        </div>
        {% include "sections/typography/typography-style.njk" %}
        {% include "sections/typography/typography-script.njk" %}
        {% include "sections/typography/typography-content.njk" %}
    </section>
{% endif %}
