<style>
#ui-kit-svg-list {
    display: block;
    width: 100%;
    max-width: 1400px;
    list-style-type: none;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    margin: 80px auto 0;
    padding: 0;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#ui-kit-svg-list li {
    display: inline-block;
    vertical-align: middle;
    width: 120px;
    height: auto;
    text-align: center;
    letter-spacing: normal;
    margin: 0;
    padding: 16px 16px 25px;
    cursor: pointer;
}

#ui-kit-svg-list li svg.large {
    width: 60px;
}

#ui-kit-svg-list li svg.medium {
    width: 45px;
}

#ui-kit-svg-list li svg.small {
    width: 30px;
}
</style>
