<section class="uikit-section-type">
    <div class="controllers" hidden="true">
        {% include "include/uikit/svg/svg-style.njk" %}
        {% include "include/uikit/svg/svg-script.njk" %}
    </div>
    <h1 class="section-title">Svg Icons</h1>
    <h2 class="section-title-type">SVG Inline</h2>
    {% include "include/uikit/svg/svg-content.njk" %}
</section>
