<!DOCTYPE html>
<html lang="it">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>@title</title>
        <meta name="description" content="">
        <meta property="og:title" content="">
        <meta property="og:description" content="">
        <meta property="og:type" content="website">
        <meta property="og:image" content="">
        <meta property="og:url" content="">
        <meta property="og:site_name" content="">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:title" content="">
        <meta name="twitter:description" content="">
        <meta name="twitter:image:src" content="">
        <meta name="twitter:site" content="@">
        <meta name="twitter:domain" content="mywebsite">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="format-detection" content="telephone=no">
        <link rel="canonical" href="#">
        <link rel="alternate" href="#" hreflang="#">
        <link rel="shortcut icon" type="image/x-icon" href="#">
        <link rel="stylesheet" type="text/css" href="css/style.min.css">
        <script type="text/javascript" src="js/lib/modernizr.custom.min.js"></script>
        <script type="text/javascript" src="js/lib/jquery.min.js"></script>
        <script type="text/javascript">
        /**
         * RGBtoHEX
         * function
         * param: {string}
         * return: {string}
         */

        function RGBtoHEX(r, g, b) {
            var rgb = b | (g << 8) | (r << 16);

            return (0x1000000 | rgb).toString(16).substring(1);
        }

        /**
         * createPaletteElements
         * function
         * param: {regEx, property, stylesheets}
         * return: {Obj}
         * author: mbertoldo{at}alpenite.com
         */

        function createPaletteElements(selector, style, sheet) {
            var sheets = typeof sheet !== 'undefined' ? [sheet] : document.styleSheets;

            for (var i = 0, l = sheets.length; i < l; i++) {
                var sheet = sheets[i];

                if (!sheet.cssRules) {
                    continue;
                }

                for (var j = 0, k = sheet.cssRules.length; j < k; j++) {
                    var rule = sheet.cssRules[j];

                    if (selector.test(rule.selectorText)) {
                        var selectors = rule.selectorText;
                        var rgb = rule.style[style].split(',');
                        var r = rgb[0].replace('rgb(', '');
                        var g = rgb[1];
                        var b = rgb[2].replace(')', '');
                        var hex = RGBtoHEX(r, g, b);
                        var list = document.createElement('li');

                        list.setAttribute('style', 'background-color:#' + hex + ';');
                    }
                }
            }
        }

        createPaletteElements(/palette-color-/, 'color');
        </script>
    </head>
    <body>
