log
logs
npm-debug.log*
*.log
gulp
node_modules
linters
*.npm
*.idea
*.sublime-*
*.settings
*.project
*.classpath
*.tern-project
*.vscode
*.DS_Store
*__MACOSX
*Thumbs.db
.editorconfig
yarn.lock
dist/**/*.map
docs/
