{{ infolabel('Primary Mixin') }}
{{ mixin('foundation-xy-grid-classes') }}

{{ infolabel('Related Mixin') }}
{{ mixin('foundation-flex-classes') }}

{{ infolabel('Variabiles') }}
{{ sassvar('flex:true') }}
{{ sassvar('grid-margin-gutters') }}
{{ sassvar('grid-container-padding') }}

{{ infolabel('Info') }}
<span class="info">
    Compared to the original grid, the <strong>"rem"</strong> conversion for the various gutters has been removed. <br />
    For a complete documentation on the use of this grid system and mixins consult <a href="https://foundation.zurb.com/sites/docs/xy-grid.html" target="_blank">this page</a>.
</span>
