{{ infolabel('Primary Mixin') }}
{{ mixin('foundation-xy-grid-classes') }}

{{ infolabel('Related Mixin') }}
{{ mixin('flexbox-classes') }}

{{ infolabel('Variabiles') }}
{{ sassvar('flex: true') }}
{{ sassvar('grid-margin-gutters') }}

{{ infolabel('Info') }}
<span class="info">
    For a complete documentation on the use of this grid system and mixins consult <a href="https://foundation.zurb.com/sites/docs/xy-grid.html" target="_blank">this page</a>.
</span>
