<section class="uikit-section-type">
    <div class="controllers" hidden="true">
        {% include "include/uikit/palette/palette-scripts.njk" %}
        {% include "include/uikit/palette/palette-style.njk" %}
    </div>
    <h1 class="section-title">Palette</h1>
    <h2 class="section-title-type">
        <span class="text">Colors palette</span>
    </h2>
    {% include "include/uikit/palette/palette-content.njk" %}
</section>
