{#
- Don't rename or remove `palette-list` tag. It's necessary for render your palette color.
#}

<p class="description-type">
    Update or extend your palette list: <code class="sass-code">$color-palette</code> <br />
    You can set the global color etc.
</p>
<ul id="palette-list" class="palette-list"></ul>
