// @global: elements shapes & classes
// @author: mbertoldo@alpenite.com
// @access: private

@mixin shape-classes {
    /*@shape-classes*/
    .shape-arrow {
        display: block;
    	width: $global-arrow-size;
    	height: $global-arrow-size;
    	border: solid $global-arrow-color;
    	border-width: 0 $global-arrow-width $global-arrow-width 0;

        // @arrow direction map
        // --------------------------------

        $arrow-direction: (
            down: 45deg,
            up: -135deg,
            right: -45deg,
            left: 135deg
        );

    	@each $direction, $transform in $arrow-direction {
    		&.#{$direction} {
    			transform: rotate3d(0, 0, 1, $transform);
    		}
    	}
    }

    .shape-checkmark {
        @include arrow(($global-checkmark-size / 2), $global-checkmark-size, $global-checkmark-color, $global-checkmark-width, down);
    }

    .shape-close {
        @include shape-close($global-shape-close-size, $global-shape-close-line-size, $global-shape-close-color);
    }
}
