{% set columns = uikit.section.xygrid.gridcolumns %}
{% set finalcolumns = columns / columns %}
{% set gridcontainer = uikit.section.xygrid.gridcontainer %}
<div class="render-grid-content">
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            {% for column in range(0, columns) %}
                <div class="small-{{columns}} medium-{{columns}} large-{{finalcolumns}} cell"></div>
            {% endfor %}
        </div>
        <span class="max-width-count">{{gridcontainer}}</span>
        <span class="width-count"></span>
    </div>
</div>
