{{ snippet.infolabel('Primary Mixin') }}
{{ snippet.mixin('foundation-xy-grid-classes') }}

{{ snippet.infolabel('Related Mixin') }}
{{ snippet.mixin('foundation-flex-classes') }}

{{ snippet.infolabel('Variabiles') }}
{{ snippet.sassvar('global-flexbox: true') }}
{{ snippet.sassvar('grid-margin-gutters') }}
{{ snippet.sassvar('grid-container-padding') }}

{{ snippet.infolabel('Info') }}

{% call snippet.infocontent() %}
    Compared to the original Foundation grid, the <strong>"rem"</strong> conversion for the various gutters has been removed. <br />
    For a complete documentation on the use of this grid system and mixins consult <a href="https://foundation.zurb.com/sites/docs/xy-grid.html" target="_blank">this page</a>.
{% endcall %}
