{% extends "layout/default.njk" %}
{% set title = pages.uikit.title %}

{% block content %}
    {% include "include/uikit-render/palette-script.njk" %}
    {% include "include/uikit-render/ui-styles.njk" %}
    <aside></aside>
    <main>
        <section class="section-type typhograpy">
            <h1 class="section-title">Typography</h1>
        </section>
    </main>
    {% include "include/footer.njk" %}
{% endblock %}
