<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
<style>
.section-type {
    position: relative;
    min-height: 400px;
    overflow: hidden;
    padding: 50px 30px;
}

.section-title {
    position: absolute;
    top: 50%;
    left: 30px;
    font-family: 'Abril Fatface', cursive;
    font-size: 280px;
    font-weight: normal;
    letter-spacing: 12px;
    line-height: 1.4;
    text-transform: none;
    color: #000;
    margin: 0;
    opacity: 0.028;
    pointer-events: none;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
}

.section-title-type {
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 0.031rem;
    line-height: 1;
    color: #666666;
    margin-bottom: 5px;
}

.description-type {
    font-size: 14px;
    line-height: 1.4;
}

.sass-code {
    color: #e31d79;
}

.function-code {
    color: #44a8b6;
}

.render-grid-content:not(:first-of-type) {
    margin-top: 80px;
}
</style>
