{{ infolabel('Primary Mixin') }}
{{ mixin('form-style') }}

{{ infolabel('Variabiles') }}
{{ sassvar('global-reset-input-appearance') }}
{{ sassvar('what-input-outline-detect') }}

{{ infolabel('Input Checkbox & radio custom template classes') }}
{{ templateclass('input-checkbox') }}
{{ templateclass('input-radio') }}

{{ infolabel('Info') }}
<span class="info">The layout of the fields is just an example. It's necessary to create additional classes to create the desired effect. All configurations instead of fields are to be kept as a reference model. <br /> To maintain accessibility it was decided not to remove the basic outline of the fields, but to make it visible only if the event is intercepted by the keyboard thanks to <a href="https://github.com/ten1seven/what-input">this plugin</a>.</span>
