{% extends "layout/uikit-base.njk" %}
{% block uikitcontent %}
    {% if fonts.show %}
        <section class="uikit-element-render">
            <h2 class="section-title">Fonts</h2>
            <div class="section-description">
                {{ infolabel('Primary Mixin') }}
                {{ mixin('global-fonts') }}

                {{ infolabel('Related Mixin') }}
                {{ mixin('font-face') }}

                {{ infolabel('Variabiles') }}
                {{ sassvar('google-fonts-name') }}
                {{ sassvar('font-face-map') }}

                {{ infolabel('Function for font-face') }}
                {{ sassfunction('font-family','font','$nth-key-font-face-map') }}
            </div>
            {% include "sections/fonts/fonts-style.njk" %}
            {% include "sections/fonts/fonts-script.njk" %}
            <ul id="font-list" class="font-list"></ul>
        </section>
    {% endif %}

    {% if typography.show %}
        <section class="uikit-element-render">
            <h2 class="section-title">Typography</h2>
            <div class="section-description">
                {{ infolabel('Primary Mixins') }}
                {{ mixin('headers-style') }}
                {{ mixin('paragraph-style') }}

                {{ infolabel('Related Mixin') }}
                {{ mixin('headers-style-responsive') }}

                {{ infolabel('Variabiles') }}
                {{ sassvar('header-styles') }}
            </div>
            {% include "sections/typography/typography-style.njk" %}
            {% include "sections/typography/typography-script.njk" %}
            <div id="typography-list" class="typography-list">
                <div class="header-render">
                    {% for i in range(0, 6) %}
                        <b class="header">h{{i +1}} &amp; .h{{i +1}}</b>
                        <h{{i +1}} class="h">
                            Header.
                            <div class="header-info-style">
                                <p class="font-style-rule font-style-rule-animatable">
                                    <i class="family"></i>
                                    <span id="font-family-value"></span>
                                </p>
                                <ul class="font-style-rule">
                                    <li class="font-style-rule-animatable delay-1">
                                        <i class="size"></i>
                                        <span id="font-size-value"></span>
                                    </li>
                                    <li class="font-style-rule-animatable delay-2">
                                        <i class="lineheight"></i>
                                        <span id="line-height-value"></span>
                                    </li>
                                    <li class="font-style-rule-animatable delay-3">
                                        <i class="letterspacing"></i>
                                        <span id="letter-spacing-value"></span>
                                    </li>
                                </ul>
                            </div>
                        </h{{i+ 1}}>
                    {% endfor %}
                </div>
                <div class="paragraph-render">
                    <b class="paragraph">p</b>
                    <p class="p">
                        <q>Cupcake ipsum dolor sit amet chupa chups liquorice donut pie. <b>Brownie</b> gingerbread sesame snaps toffee chupa chups <em>sweet</em> roll. Bonbon wafer ice cream gummies chocolate bar <b>candy sweet</b> roll apple pie. Chupa chups jelly-o candy canes toffee. <em>Sugar</em> plum brownie powder sweet roll chocolate bar gingerbread lemon drops pudding.</q>
                    </p>
                </div>
            </div>
        </section>
    {% endif %}

    {% if palette.show %}
        <section class="uikit-element-render">
            <h2 class="section-title">Palette &amp; Colors</h2>
            <div class="section-description">
                {{ infolabel('Primary Mixin') }}
                {{ mixin('colors-palette') }}

                {{ infolabel('Related Mixin') }}
                {{ mixin('manage-palette') }}

                {{ infolabel('Variabiles') }}
                {{ sassvar('palette-color') }}

                {{ infolabel('Template class')}}
                {{ templateclass('palette-color-$key-palette-color') }}
                {{ templateclass('background-color-$key-palette-color') }}

                {{ infolabel('Function for catch HEX')}}
                {{ sassfunction('color','palette','$key-palette-color') }}
            </div>
            {% include "sections/palette/palette-style.njk" %}
            {% include "sections/palette/palette-script.njk" %}
            <ul id="palette-list" class="font-list"></ul>
        </section>
    {% endif %}

    {% if xygrid.show %}
        <section class="uikit-element-render">
            <h2 class="section-title">XY Grid</h2>
            <div class="section-description">
                {{ infolabel('Primary Mixin') }}
                {{ mixin('foundation-xy-grid-classes') }}

                {{ infolabel('Related Mixin') }}
                {{ mixin('flexbox-classes') }}

                {{ infolabel('Variabiles') }}
                {{ sassvar('flex: true') }}
                {{ sassvar('grid-margin-gutters') }}

                {{ infolabel('Info') }}
                <span class="info">
                    For a complete documentation on the use of this grid system and mixins consult <a href="https://foundation.zurb.com/sites/docs/xy-grid.html" target="_blank">this page</a>.
                </span>
            </div>
            {% include "sections/grid/xy-grid-style.njk" %}
            {% set columns = xygrid.gridcolumns %}
            {% set finalcolumns = columns / columns %}
            {% set gridcontainer = xygrid.gridcontainer %}
            <div class="render-grid-content">
                <div class="grid-container">
                    <div class="grid-x grid-margin-x">
                        {% for column in range(0, columns) %}
                            <div class="small-{{columns}} medium-{{columns}} large-{{finalcolumns}} cell"></div>
                        {% endfor %}
                    </div>
                    <span class="max-width-count">{{gridcontainer}}</span>
                    <span class="width-count"></span>
                </div>
            </div>
        </section>
    {% endif %}

    {% if floatgrid.show %}
        <section class="uikit-element-render">
            <h2 class="section-title">Float Grid</h2>
            <div class="section-description">
                {{ infolabel('Primary Mixin') }}
                {{ mixin('foundation-grid') }}

                {{ infolabel('Related Mixin') }}
                {{ mixin('clearfix-classes') }}

                {{ infolabel('Variabiles') }}
                {{ sassvar('grid-column-align-edge') }}
                {{ sassvar('grid-column-alias') }}
            </div>
            {% include "sections/grid/float-grid-style.njk" %}
            {% set rowclass = floatgrid.rowclass %}
            {% set columns = floatgrid.gridcolumns %}
            {% set finalcolumns = columns / columns %}
            {% set columnclass = floatgrid.columnclass %}
            {% set gridcontainer = floatgrid.gridcontainer %}
            <div class="render-grid-content">
                <div class="{{rowclass}}">
                    {% for column in range(0, columns) %}
                        <div class="small-{{columns}} medium-{{columns}} large-{{finalcolumns}} {{columnclass}}">
                            <div class="content"></div>
                        </div>
                    {% endfor %}
                    <div class="small-{{columns}} medium-{{columns}} large-{{columns}} {{columnclass}}">
                        <span class="max-width-count">{{gridcontainer}}</span>
                        <span class="width-count"></span>
                    </div>
                </div>
            </div>
        </section>
    {% endif %}

    {% if form.show %}
        <section class="uikit-element-render">
            <h2 class="section-title">Form</h2>
            <div class="section-description">
                {{ infolabel('Primary Mixin') }}
                {{ mixin('form-style') }}

                {{ infolabel('Related Mixin') }}
                {{ mixin('placeholder') }}

                {{ infolabel('Variabiles') }}
                {{ sassvar('global-reset-input-appearance') }}
                {{ sassvar('global-custom-select') }}

                {{ infolabel('Info') }}
                {{ infocontent("The layout of the fields is just an example. It's necessary to create additional classes to create the desired effect. All configurations instead of fields are to be kept as a reference model.") }}
            </div>
            {% include "sections/form/form-style.njk" %}
            <div class="uikit-form-render">
                {% set rowclass = form.rowclass %}
                {% set labelclass = form.labelclass %}
                <form class="uikit-form" action="javascript:void(0)" autocomplete="on" method="get">
                    <div class="{{rowclass}} split">
                        <label class="{{labelclass}}">Input search</label>
                        <input type="search" name="q" placeholder="input search"/>
                    </div>
                    <div class="{{rowclass}} split">
                        <label class="{{labelclass}}">Input error</label>
                        <input type="text" name="error-text" placeholder="bad input" class="error"/>
                    </div>
                    <div class="{{rowclass}} split">
                        <label class="{{labelclass}}">Input text</label>
                        <input type="text" name="name" placeholder="input text"/>
                    </div>
                    <div class="{{rowclass}} split">
                        <label class="{{labelclass}}">Input email</label>
                        <input type="email" name="email" placeholder="input email"/>
                    </div>
                    <div class="{{rowclass}} split">
                        <label class="{{labelclass}}">Input password</label>
                        <input type="password" name="password" placeholder="password"/>
                    </div>
                    <div class="{{rowclass}} split">
                        <label class="{{labelclass}}">Input tel</label>
                        <input type="tel" name="tel" placeholder="input tel"/>
                    </div>
                    <div class="{{rowclass}} split">
                        <label class="{{labelclass}}">Input url</label>
                        <input type="url" name="url" placeholder="input url"/>
                    </div>
                    <div class="{{rowclass}} split">
                        <label class="{{labelclass}}">Select</label>
                        <select name="select" class="{{form.selectclass}}">
                            <option value="hotdog">
                                Hot Dog
                            </option>
                            <option value="hamburger">
                                Hamburger
                            </option>
                            <option value="chips">
                                Chips
                            </option>
                        </select>
                    </div>
                    <div class="{{rowclass}} wide">
                        <label class="{{labelclass}}">Textarea Disabled</label>
                        <textarea placeholder="textarea disabled" disabled></textarea>
                    </div>
                    <div class="{{rowclass}} checkbox-radio-group wide">
                        <label class="{{labelclass}}">Input checkbox & radio custom</label>
                        <div class="{{rowclass}} wide no-gutter">
                            <input type="checkbox" id="uikit-checkbox-render" name="checkbox-render"/>
                            <label class="input-checkbox" for="uikit-checkbox-render">
                                Cupcake ipsum dolor sit amet chupa chups liquorice donut pie. Brownie gingerbread sesame snaps toffee chupa chups sweet roll. Bonbon wafer ice cream gummies chocolate bar candy sweet roll apple pie. Chupa chups jelly-o candy canes toffee. Sugar plum brownie powder sweet roll chocolate bar gingerbread lemon drops pudding.
                            </label>
                        </div>
                        <div class="{{rowclass}} radio-group wide no-gutter">
                            <input type="radio" id="uikit-radio-render" name="input-radio-render"/>
                            <label class="input-radio" for="uikit-radio-render">
                                Brownie.
                            </label>
                            <input type="radio" id="uikit-radio-render-2" name="input-radio-render"/>
                            <label class="input-radio" for="uikit-radio-render-2">
                                Chupa chups.
                            </label>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    {% endif %}

    {% if svg.show %}
        <section class="uikit-element-render">
            <h2 class="section-title">SVG Inline</h2>
            <div class="section-description">
                {% if svg.truetone %}
                    {{ infolabel('Toggle true tone') }}
                    <span id="uikit-switch-render">
                        <span class="info">Toggle for show true tone on icons. <br /> (Only if the color is available)</span>
                        <span id="uikit-switch-item">
                            <input type="checkbox" id="uikit-toggle-truetone" name="uikit-toggle">
                            <span class="toggle">
                                <label for="uikit-toggle-truetone">
                                    <i></i>
                                </label>
                            </span>
                        </span>
                    </span>
                {% endif %}

                {% if svg.collection %}
                    {{ infolabel('SVG collection') }}
                    <span class="info">To view the entire list of svg icons installed consult <a href="{{svg.examplefile}}">this page</a>.</span>
                {% endif %}

                {{ infolabel('Info') }}
                {{ infocontent("The colors of the icons are just an example. It is necessary to create additional classes to draw up the desired effect.") }}
            </div>
            {% include "sections/svg/svg-script.njk" %}
            {% include "sections/svg/svg-style.njk" %}

            <ul id="uikit-svg-list" class="svg-list">
                {% set svgpath = svg.spritepath %}
                {% set icons = svg.icons %}

                {% for icon in icons %}
                    <li>
                        {% if svg.truetone and icon | lower == 'instagram' %}
                            <svg width="0" height="0" class="visuallyhidden">
                                <radialGradient id="instagram-gradient" r="150%" cx="30%" cy="107%">
                                    <stop stop-color="#fdf497" offset="0" />
                                    <stop stop-color="#fdf497" offset="0.05" />
                                    <stop stop-color="#fd5949" offset="0.45" />
                                    <stop stop-color="#d6249f" offset="0.6" />
                                    <stop stop-color="#285AEB" offset="0.9" />
                                </radialGradient>
                            </svg>
                        {% endif %}
                        <svg role="img" title="{{icon | lower}}" class="{{icon | lower}}">
                            <use xlink:href="{{svgpath}}#{{icon | lower}}"/>
                        </svg>
                    </li>
                {% endfor %}
            </ul>
            <script type="text/javascript">
                (function() {
                   svg4everybody();
                })();
            </script>
        </section>
    {% endif %}
{% endblock %}
