{% extends "layout/uikit-base.njk" %}
{% block uikitcontent %}
    {% include "sections/ui/ui-style.njk" %}
    {% include "sections/ui/ui-script.njk" %}
    {% include "sections/ui/ui-intro.njk" %}
    {% include "sections/fonts/fonts.njk" %}
    {% include "sections/typography/typography.njk" %}
    {% include "sections/palette/palette.njk" %}
    {% include "sections/grid/grid.njk" %}
    {% include "sections/svg/svg.njk" %}
{% endblock %}
