{% extends "layout/uikit-base.njk" %}
{% block uikitcontent %}
    {% include "sections/fonts/fonts.njk" %}
    {% include "sections/typography/typography.njk" %}
    {% include "sections/palette/palette.njk" %}
    {% include "sections/xy-grid/xy-grid.njk" %}
    {% include "sections/float-grid/float-grid.njk" %}
    {% include "sections/form/form.njk" %}
    {% include "sections/svg/svg.njk" %}
{% endblock %}
