// @mixins accessibility
// @author: mbertoldo@alpenite.com
// @import: _mixins.scss
// @component: core

// Mixin for visuallyhidden.
// @note: this hide the target element visually only, but not it's interaction.
// ----------------------------

@mixin visuallyhidden {
    position: absolute;
    top: 0;
    left: 0;
    width: 1px;
    height: 1px;
    border: 0;
    white-space: nowrap;
    clip: rect(1px, 1px, 1px, 1px);
    overflow: hidden;
    margin: -1px;
    padding: 0;
}

// Mixin for visuallyhidden-off.
// @note: restores the style applied by `visuallyhidden` mixin.
// ----------------------------

@mixin visuallyhidden-off {
    position: static;
    width: auto;
    height: auto;
    border: initial;
    white-space: inherit;
    clip: none;
    overflow: inherit;
    margin: 0;
}

// Mixin for iOS smooth scroll.
// @note: created only for simplify the syntax.
// ----------------------------

@mixin ios-smooth-scroll {
	-webkit-overflow-scrolling: touch;
}

// Mixin for iOS tap highlight color.
// @note: set the default tap highlight color on iOS devices.
// ----------------------------

@mixin ios-tap-color($color) {
	-webkit-tap-highlight-color: #{$color};
}
