// Mixin for font face rule.
// @require: {function} str-replace
// @component: core
// @author: mbertoldo@alpenite.com
// --------------------------------

// Function for string replace.
// @param: {String}
// @return: str-replace($mystring, $string-to-replace, $replacer);
// @note: https://css-tricks.com/snippets/sass/str-replace-function/
// --------------------------------

@function str-replace($string, $search, $replace: "") {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// `font-face` output function.
// @note: only define as String your Font Name and define your "font file name".
// @note: if you have subfolders where is your font files, just simply define the folder where is this, before font file name. Ex ´mysubfolderfont/my_awesome_font_file_name´.
// @note: important the `$font-dir` is defined on _config.scss @typography
// @use: (full options)
// @include font-face("My Font Name", my_font_file, font-style-value, font-weight-value, font-type, ie-old-support);

@mixin font-face($font-name, $font-file, $style: normal, $weight: normal, $category: null, $ie-old-support: false) {
	$filepath: $font-dir + $font-file;
	$filter-font-name: str-replace($font-name, ' ', '_');

	@font-face {
		font: {
			@if $category != null {
				family: '#{$font-name}', #{$category};
			} @else {
				family: '#{$font-name}';
			}
			style: $style;
			weight: $weight;
		}

		@if $ie-old-support == false {
			src: url($filepath + '.woff') format('woff'),
				 url($filepath + '.woff2') format('woff2'),
				 url($filepath + '.ttf') format('truetype'),
				 url($filepath + '.svg#' + $filter-font-name) format('svg');
		} @else {
			src: url($filepath + '.eot');
			src: url($filepath + '.eot?#iefix') format('embedded-opentype'),
				 url($filepath + '.woff') format('woff'),
				 url($filepath + '.woff2') format('woff2'),
				 url($filepath + '.ttf') format('truetype'),
				 url($filepath + '.svg#' + $filter-font-name) format('svg');
		}
    }
}
