<section class="uikit-section-type">
    <div class="controllers" hidden="true">
        {% include "include/uikit/fonts/fonts-script.njk" %}
        {% include "include/uikit/fonts/fonts-style.njk" %}
    </div>
    <h1 class="section-title">Fonts</h1>
    <h2 class="section-title-type">Fonts installed</h2>
    {% include "include/uikit/fonts/fonts-content.njk" %}
</section>
