<style>
#font-list {
    display: block;
    width: 100%;
    max-width: 1400px;
    list-style-type: none;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    margin: 80px auto 0;
    padding: 0;
}

#font-list li {
    display: inline-block;
    vertical-align: middle;
    width: 285px;
    height: auto;
    text-align: center;
    letter-spacing: normal;
    margin: 0;
    padding: 16px 16px 25px;
}

#font-list li p {
    display: block;
    font-family: inherit;
    font-size: 90px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    text-transform: none;
    line-height: 1;
    letter-spacing: normal;
    color: inherit;
    margin: 0;
    padding: 0;
}

#font-list li .family-name {
    display: block;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    font-style: inherit;
    letter-spacing: normal;
    color: inherit;
    margin: 0;
    padding: 4px 0 0 0;
}

#font-list li a,
#font-list li em {
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: underline;
}
</style>
