{#
- Set on `global.json` file your favorite preview of grid. Choose betwenn `xy-grid` or `float-grid` or both from Foundation.
#}

{% set columns = page.uikit.floatgrid.gridcolumns %}
{% set finalcolumns = columns / columns %}
{% set gridcontainer = page.uikit.floatgrid.gridcontainer %}
{% set rowclass = page.uikit.floatgrid.rowclass %}
{% set columnclass = page.uikit.floatgrid.columnclass %}

<div class="render-grid-content">
    <h2 class="section-title-type">
        <span class="text">Float Grid System</span>
    </h2>
    <p class="description-type">
        Currently use: <code class="function-code">`float-grid`</code> with <b>{{columns}}</b> columns. <br />
        Configure your <code class="sass-code">$grid-column-gutter</code>.
    </p>

    <div class="{{rowclass}}">
        {% for column in range(0, columns) %}
            <div class="small-{{columns}} medium-{{columns}} large-{{finalcolumns}} {{columnclass}}">
                <div class="content"></div>
            </div>
        {% endfor %}
        <div class="small-{{columns}} medium-{{columns}} large-{{columns}} {{columnclass}}">
            <span class="max-width-count">{{gridcontainer}}</span>
            <span class="width-count"></span>
        </div>
    </div>
</div>
