{% macro infolabel(text) %}
    <span class="info-label">{{text}}</span>
{% endmacro %}

{% macro infocontent(content) %}
    <div class="info">{{content}}</div>
{% endmacro %}

{% macro sassfile(filename) %}
    <span class="sass-file-name">_{{filename}}.scss</span>
{% endmacro %}

{% macro sassvar(name) %}
    <span class="sass-code">${{name}}</span>
{% endmacro %}

{% macro mixin(name) %}
<span class="mixin-code">
    <span class="include">@include</span>
    <span class="mixin-name">{{name}}</span>
</span>
{% endmacro %}

{% macro templateclass(class) %}
    <span class="template-class">.{{class}}</span>
{% endmacro %}

{% macro code(class, content) %}
<div class="ui-docs-code">
<pre class="ui-snippet">
<code class="{{class}}">{{content | e}}
</code>
</pre>
</div>
{% endmacro %}
