// @clearfix: classes mixin
// @author: mbertoldo@alpenite.com
// @access: private
// @note: packages of classes to be invoked via template

// Clearfix Mixin, restores the height if the children have a float set.
// @note: $global-flexbox-clearfix -> (http://danisadesigner.com/blog/flexbox-clear-fix-pseudo-elements/)
// --------------------------------

@mixin clearfix {
	&::before, &::after {
		content: '';
		display: table;

		@if ($global-flexbox-clearfix) {
			flex-basis: 0;
			order: 1;
		}
	}

	&::after {
		clear: both;
	}
}

@mixin clearfix-classes {
    /*@clearfix*/
    .clearfix {
    	@include clearfix;
    }

    .clear-both {
        clear: both;
    }
}
