{{ snippet.infolabel('Primary Mixin') }}
{{ snippet.mixin('foundation-grid') }}

{{ snippet.infolabel('Related Mixin') }}
{{ snippet.mixin('clearfix-classes') }}

{{ snippet.infolabel('Variabiles') }}
{{ snippet.sassvar('grid-column-align-edge') }}
{{ snippet.sassvar('grid-column-alias') }}

{{ snippet.infolabel('Info') }}
{% call snippet.infocontent() %}
    For a complete documentation on the use of this grid system and mixins consult <a href="https://foundation.zurb.com/sites/docs/grid.html" target="_blank">this page</a>.
{% endcall %}
