<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
<style id="uikit-render">
main {
    overflow: hidden;
}

.section-type {
    position: relative;
    min-height: 100vh;
    overflow: hidden;
}

.section-title {
    font-family: 'Abril Fatface', cursive;
    font-size: 280px;
    font-size: calc((112.5% + 15vw) * 2);
    position: absolute;
    top: 50%;
    left: -15px;
    text-transform: none;
    letter-spacing: 12px;
    margin: 0;
    opacity: 0.03;
    pointer-events: none;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
}
</style>
