<p class="description-type">
    In the <code class="sass-code">typography.scss</code> file you can configure all the values ​​for typography.
</p>

<div id="typography-list" class="typography-list">
    {% for i in range(0, 6) %}
        <div class="header-render">
            <b class="header">h{{i +1}}</b>
            <h{{i +1}} class="h">
                The quick brown fox jumps.
                <div class="header-info-style">
                    <p class="font-style-rule font-style-rule-animatable">
                        <i class="family"></i>
                        <span id="font-family-value"></span>
                    </p>
                    <ul class="font-style-rule">
                        <li class="font-style-rule-animatable delay-1">
                            <i class="size"></i>
                            <span id="font-size-value"></span>
                        </li>
                        <li class="font-style-rule-animatable delay-2">
                            <i class="lineheight"></i>
                            <span id="line-height-value"></span>
                        </li>
                        <li class="font-style-rule-animatable delay-3">
                            <i class="letterspacing"></i>
                            <span id="letter-spacing-value"></span>
                        </li>
                    </ul>
                </div>
            </h{{i+ 1}}>
        </div>
    {% endfor %}
    <div class="paragraph-render">
        <b class="paragraph">p</b>
        <p>
            Cupcake ipsum dolor sit amet chupa chups liquorice donut pie. <b>Brownie</b> gingerbread sesame snaps toffee chupa chups sweet roll. Bonbon wafer ice cream gummies chocolate bar <b>candy sweet</b> roll apple pie. Chupa chups jelly-o candy canes toffee. <em>Sugar</em> plum brownie powder sweet roll chocolate bar gingerbread lemon drops pudding.
        </p>
    </div>
</div>
