<section class="uikit-section-type">
    <div class="controllers" hidden="true">
        {% include "sections/typography/typography-style.njk" %}
        {% include "sections/typography/typography-script.njk" %}
    </div>
    <h2 class="section-title">Typography</h2>
    <h3 class="section-title-type">
        <span class="text">Heading & Paragraph</span>
    </h3>
    {% include "sections/typography/typography-content.njk" %}
</section>
