{{ infolabel('Primary Mixins') }}
{{ mixin('headers-style') }}
{{ mixin('paragraph-style') }}

{{ infolabel('Related Mixin') }}
{{ mixin('headers-style-responsive') }}

{{ infolabel('Variabiles') }}
{{ sassvar('header-styles') }}
