// @flexbox helper package
// @author: mbertoldo@alpenite.com
// @note: packages of classes to be invoked via template
// @support: flexbox + flexboxtweener (set on Autoprefixer)
// --------------------------------

$flexbox-classes: (
    display: (
        'display': 'flex',
    ),
    wrap: (
        'flex-wrap': 'wrap'
    ),
    wrapper: (
        'display': 'flex',
        'flex-wrap': 'wrap'
    ),
    align-items-center: (
        'align-items': 'center'
    ),
    align-items-end: (
        'align-items': 'end'
    ),
    justify-content-center: (
        'justify-content': 'center'
    ),
    justify-content-between: (
        'justify-content': 'space-between'
    ),
    justify-content-end: (
        'justify-content': 'flex-end'
    ),
    centered: (
        'display': 'flex',
        'align-items': 'center',
        'justify-content': 'center'
    ),
    row-reverse: (
        'flex-direction': 'row-reverse'
    ),
    column: (
        'flex-direction': 'column'
    ),
    column-reverse: (
        'flex-direction': 'column-reverse'
    ),
    wide-auto: (
        'flex': '1 0 auto'
    )
);

@each $class, $classes in $flexbox-classes {
	.flex-#{$class} {
		@each $property, $properties in $classes {
			#{$property}: unquote($properties);
		}
	}
}
