// @outdated support
// @param: global error message for outdated browsers. (Require Modernizr custom build for detect base browser properties).
// @require: {createOutdated}
// @require: {Modernizr.flexboxtweener} for detect ´flexboxtweener´ and hide the error message in IE10.
// @author: mbertoldo@alpenite.com
// @component: core

/*@outdated message*/

#outdated {
    position: fixed;
	//this fix the position on old IE (like IE6/7) can't support ´position: fixed;´
	@include fix-old-ie {
		position: absolute;
	}
    top: 0;
    left: 0;
    width: 100%;
    background-color: #f25648;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    overflow: hidden;
    z-index: 999;

	//on IE10 the standard flexbox is not supported, is present a non-standard version the ´flexbox tweener`.
	//Modernizr returns false support for flexbox. Then hide the message.
	.flexboxtweener & {
		display: none;
	}

	h6 {
		padding-top: 20px;
	}

	h6, p {
		width: 70%;
		margin: 0 auto;
	}

	a {
		display: inline-block;
		width: 180px;
		border: 2px solid #fff;
		color: white;
		margin: 20px 0;
		padding: 4px;

		&:hover {
			background-color: #fff;
			color: #f25648;
		}
	}

	#close-outdated {
		position: absolute;
		top: 0;
		right: 20px;
		padding: 10px;
		cursor: pointer;
	}
}
