// @typography package
// @author: mbertoldo@alpenite.com
// @note: packages of classes to be invoked via template
// --------------------------------

/*@typography classes, headings & paraghraps*/

// @set global heading font family & margin
// @set margin only if heading was not the last-child
// @param: tags
// --------------------

h1,
h2,
h3,
h4,
h5,
h6 {
	font: {
		family: $global-heading-font-family;
		weight: $global-heading-font-weight;
	}
	line-height: $global-heading-line-height;
	letter-spacing: $global-heading-letter-spacing;
	color: $global-heading-color;

	@if ($global-margin-heading) {
        margin: $margin-heading;
	}
}

// @set global heading font size + breakpoints
// @param: tags
// --------------------

@each $size, $headers in $header-sizes {
	@include breakpoint($size) {
		@each $header, $font-size in $headers {
			#{$header} {
				font-size: $font-size;
			}
		}
	}
}

// @set global paragraph font family & margin
// @param: tag
// --------------------

p {
	font: {
		family: $global-paragraph-font-family;
		weight: $global-paragraph-font-weight;
	}
	line-height: $global-paragraph-line-height;
	letter-spacing: $global-paragraph-letter-spacing;
	color: $global-paragraph-color;

	@if ($global-margin-paragraph) {
        margin: $margin-paragraph;
	}
}

@include text-classes;
