{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}
<!DOCTYPE html>
<html data-render="uikit">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
        <title>{{uikit.title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
        <meta name="robots" content="noindex, nofollow">
        <meta name="format-detection" content="telephone=no">
        <link rel="stylesheet" href="{{uikit.cssrenderfile}}"/>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700|Abril+Fatface">
        {% include "layout/ui/ui-style.njk" %}
        {% if uikit.js.whatinput %}
            <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.0.5/what-input.min.js"></script>
        {% endif %}
        {% if uikit.js.svg4everybody %}
            <script src="https://rawgit.com/jonathantneal/svg4everybody/master/dist/svg4everybody.js"></script>
        {% endif %}
    </head>
    <body id="uikit-body-render">
        {% import "layout/macro/snippet.njk" as snippet %}
        <main id="uikit-main">
            {% if uikit.aside.show %}
                {% include "./ui-aside.njk" %}
            {% endif %}
            <div id="uikit-render-content">
                {% if uikit.sassdocumentation.show %}
                    {% include "./ui-sassdoc.njk" %}
                {% endif %}
                {% block uikitcontent %}{% endblock %}
            </div>
        </main>
        <script src="{{uikit.js.highlightpath}}"></script>
        <script>hljs.initHighlightingOnLoad();</script>
        {% include "layout/ui/ui-scripts.njk" %}
    </body>
</html>
