{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}
<!DOCTYPE html>
<html data-render="uikit">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <title>{{uikit.title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
        <meta name="format-detection" content="telephone=no" />
        {% block head %}{% endblock %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" />
        {% include "./ui-style.njk" %}
    </head>
    <body id="renderkit-body">
        {% import "layout/macro/snippet.njk" as snippet %}
        {% if uikit.menu %}
            {% include "./ui-toggle.njk" %}
            {% include "./ui-menu.njk" %}
        {% endif %}
        <main id="uikit-main" role="main">
            {% if uikit.aside.show %}
                {% include "./ui-aside.njk" %}
            {% endif %}
            <div id="uikit-render-content">
                {% block uikit %}{% endblock %}
            </div>
        </main>
        {% block footer %}{% endblock %}
        {% include "./ui-scripts.njk" %}
    </body>
</html>
