{#
    Nunjucks Templating!
    Homepage: https://mozilla.github.io/nunjucks/
    Docs: https://mozilla.github.io/nunjucks/api.html
#}
<!DOCTYPE html>
<html data-render="uikit">
    <head>
        <meta charset="utf-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
        <title>{{uikit.title}}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="format-detection" content="telephone=no" />
        {% block head %}{% endblock %}
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700" />
        {% include "layout/ui/ui-style.njk" %}
    </head>
    <body id="renderkit-body"{% if uikit.style.darkmode %} class="darkmode"{% endif %}>
        {% import "layout/macro/snippet.njk" as snippet %}
        <main id="uikit-main" role="main">
            {% if uikit.aside.show %}
                {% include "./ui-aside.njk" %}
            {% endif %}
            <div id="uikit-render-content">
                {% if uikit.sassdocumentation.show %}
                    {% include "./ui-sassdoc.njk" %}
                {% endif %}
                {% block uikit %}{% endblock %}
            </div>
        </main>
        {% block footer %}{% endblock %}
        <script src="https://cdn.rawgit.com/matteobertoldo/9874c58f56669b4ecf9a3bd8ec305b75/raw/fe7219f7770a4fbc77d2174a3cc31994c73d2deb/renderkit-highlight.pack.js"></script>
        <script>hljs.initHighlightingOnLoad();</script>
    </body>
</html>
