<style type="text/css">
    *,
    ::after,
    ::before {
        box-sizing: inherit;
    }

    html[data-render="uikit"] {
        font-family: sans-serif;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    #uikit-body-render {
        margin: 0 !important;
        padding: 0 !important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: #fff !important;
        background-image: none !important;
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
    }

    #uikit-body-render #uikit-render-content {
        overflow: hidden;
        {% if uikit.aside.show %}
            padding-left: 80px;
        {% endif %}
    }

    @media print {
        #uikit-body-render #uikit-render-content {
            padding-left: 0;
        }
    }

    @media only screen and (max-width: {{uikit.breakpoint.large + 'px'}}) {
        #uikit-body-render #uikit-render-content {
            padding-left: 0;
        }
    }

    #uikit-body-render .uikit-element-render {
        background-color: #f5f5f5;
        margin: 15px;
        padding: 50px 30px;
    }

    @media only screen and (max-width: {{uikit.breakpoint.large + 'px'}}) {
        #uikit-body-render .uikit-element-render {
            margin: 10px;
            padding: 20px 16px;
        }
    }

    #uikit-body-render .section-title {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        font-family: 'Abril Fatface', coursive;
        font-size: 60px;
        font-weight: normal;
        line-height: normal;
        letter-spacing: -0.15vh;
        text-transform: none;
        text-shadow: none;
        color: #1a1a1c;
        opacity: 0.75;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin: 0;
        padding: 0;
        cursor: default;
    }

    @media only screen and (max-width: {{uikit.breakpoint.large + 'px'}}) {
        #uikit-body-render .section-title {
            font-size: 30px;
        }
    }

    #uikit-body-render .section-title::after {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 2px;
        background-color: #5d5c56;
    }

    #uikit-body-render .mixin-code {
        display: block;
        font-family: monospace, monospace;
        font-size: 13px;
        line-height: inherit;
        margin-top: 3px;
    }

    #uikit-body-render .mixin-code .include {
        color: #c678dd;
    }

    #uikit-body-render .mixin-code .mixin-name {
        color: #61afef;
        margin-left: -4px;
    }

    #uikit-body-render .sass-code,
    #uikit-body-render .sass-file-name,
    #uikit-body-render .template-class {
        display: block;
        font-family: monospace, monospace;
        font-size: 13px;
        line-height: inherit;
        color: #e31d79;
        opacity: 0.70;
        margin-top: 4px;
    }

    #uikit-body-render .template-class {
        font-weight: bold;
        color: #d19a66;
        margin-bottom: 10px;
        opacity: 1;
    }

    #uikit-body-render .ui-snippet {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        min-width: 220px;
        max-width: 420px;
        font-family: monospace, monospace;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: normal;
        background-color: #282c34;
        color: #828997;
        border-radius: 6px;
        box-shadow: 0 0 14px rgba(0, 0, 0, 0.6);
        margin: 0;
        padding: 0;
        overflow: auto;
    }

    #uikit-body-render .hljs {
        display: block;
        width: 100%;
        color: #abb2bf;
        background: #282c34;
        border-radius: 6px;
        padding: 14px 12px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    #uikit-body-render .hljs-comment,
    #uikit-body-render .hljs-quote {
        color: #5c6370;
        font-style: italic;
    }

    #uikit-body-render .hljs-doctag,
    #uikit-body-render .hljs-keyword,
    #uikit-body-render .hljs-formula {
        color: #c678dd;
    }

    #uikit-body-render .hljs-section,
    #uikit-body-render .hljs-name,
    #uikit-body-render .hljs-selector-tag,
    #uikit-body-render .hljs-deletion,
    #uikit-body-render .hljs-subst {
        color: #e06c75;
    }

    #uikit-body-render  .hljs-literal {
        color: #56b6c2;
    }

    #uikit-body-render .hljs-string,
    #uikit-body-render .hljs-regexp,
    #uikit-body-render .hljs-addition,
    #uikit-body-render .hljs-attribute,
    #uikit-body-render .hljs-meta-string {
        color: #98c379;
    }

    #uikit-body-render .hljs-built_in,
    #uikit-body-render .hljs-class .hljs-title {
        color: #e6c07b;
    }

    #uikit-body-render .hljs-attr,
    #uikit-body-render .hljs-variable,
    #uikit-body-render .hljs-template-variable,
    #uikit-body-render .hljs-type,
    #uikit-body-render .hljs-selector-class,
    #uikit-body-render .hljs-selector-attr,
    #uikit-body-render .hljs-selector-pseudo,
    #uikit-body-render .hljs-number {
        color: #d19a66;
    }

    #uikit-body-render .hljs-symbol,
    #uikit-body-render .hljs-bullet,
    #uikit-body-render .hljs-link,
    #uikit-body-render .hljs-meta,
    #uikit-body-render .hljs-selector-id,
    #uikit-body-render .hljs-title {
        color: #61aeee;
    }

    #uikit-body-render .hljs-emphasis {
        font-style: italic;
    }

    #uikit-body-render .hljs-strong {
        font-weight: bold;
    }

    #uikit-body-render .hljs-link {
        text-decoration: underline;
    }

    #uikit-body-render #uikit-switch-item {
        position: relative;
    }

    #uikit-body-render #uikit-switch-item .toggle {
        display: block;
    	width: 51px;
    	height: 31px;
    }

    #uikit-body-render #uikit-switch-item .toggle label,
    #uikit-body-render #uikit-switch-item .toggle i {
        display: block;
        -webkit-box-sizing: border-box;
    	box-sizing: border-box;
    	background: #ffffff;
        cursor: pointer;
    }

    #uikit-body-render #uikit-switch-item .toggle label {
    	width: 51px;
    	height: 32px;
    	border-radius: 32px;
    	border: 2px solid #e5e5e5;
        -webkit-transition: all 0.30s ease;
    	transition: all 0.30s ease;
    }

    #uikit-body-render #uikit-switch-item .toggle i {
    	position: absolute;
    	top: 2px;
    	left: 2px;
    	width: 28px;
    	height: 28px;
    	border-radius: 28px;
        -webkit-box-shadow: 0 0 1px 0 rgba(0,0,0, 0.25), 0 3px 3px 0 rgba(0,0,0, 0.15);
    	box-shadow: 0 0 1px 0 rgba(0,0,0, 0.25), 0 3px 3px 0 rgba(0,0,0, 0.15);
    	background: #ffffff;
        -webkit-transition: all 0.3s cubic-bezier(0.275, -0.450, 0.725, 1.450);
    	transition: all 0.3s cubic-bezier(0.275, -0.450, 0.725, 1.450);
    }

    #uikit-body-render #uikit-switch-item input[type="checkbox"] {
    	display: none;
    }

    #uikit-body-render #uikit-switch-item input[type="checkbox"]:checked + .toggle label {
    	border: 16px solid #d9d9d9;
    }

    #uikit-body-render #uikit-switch-item input[type="checkbox"]:checked + .toggle i {
    	left: 21px;
    }

    #uikit-body-render .section-description .ui-snippet {
        max-width: 380px;
        margin-top: 10px;
    }

    #uikit-body-render .section-description .info-label {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 0.031em;
        line-height: 1.4;
        color: #666;
        margin-top: 24px;
    }

    #uikit-body-render .section-description .info {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;
        line-height: 1.4;
        letter-spacing: normal;
        max-width: 380px;
        color: #666;
        margin-top: 4px;
    }

    #uikit-body-render .section-description .info a {
        font-family: inherit;
        font-size: inherit;
        font-weight: normal;
        color: #61afef;
        text-decoration: underline;
    }
</style>
