{% set titlecolor = uikit.style.title.color %}
{% set globalcolor = uikit.style.globalcolor %}
<style type="text/css">
    *,
    ::after,
    ::before {
        -webkit-box-sizing: inherit;
        box-sizing: inherit;
    }

    html[data-render="uikit"] {
        font-family: sans-serif;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    #renderkit-body {
        margin: 0 !important;
        padding: 0 !important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: {{uikit.style.backgroundcolor}} !important;
        background-image: none !important;
    }

    #renderkit-body #uikit-render-content {
        overflow: hidden;
        {% if uikit.aside.show %}
            padding-left: 80px;
        {% endif %}
    }

    @media print {
        #renderkit-body #uikit-render-content {
            padding-left: 0;
        }
    }

    @media only screen and (max-width: {{uikit.breakpoint.large + 'px'}}) {
        #renderkit-body #uikit-render-content {
            padding-left: 0;
        }
    }

    #renderkit-body .uikit-element-render {
        background-color: {{uikit.style.sections.background}};
        margin: 15px;
        padding: 50px 30px;
    }

    @media only screen and (max-width: {{uikit.breakpoint.large + 'px'}}) {
        #renderkit-body .uikit-element-render {
            margin: 10px;
            padding: 20px 16px;
        }
    }

    #renderkit-body .section-title {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        font-family: {{uikit.style.title.family}};
        font-size: {{uikit.style.title.size}};
        font-weight: {{uikit.style.title.weight}};
        line-height: normal;
        text-transform: {{uikit.style.title.texttransform}};
        text-shadow: none;
        color: {{titlecolor}};
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin: 0;
        padding: 0;
        cursor: default;
    }

    @media only screen and (max-width: {{uikit.breakpoint.large + 'px'}}) {
        #renderkit-body .section-title {
            font-size: 30px;
        }
    }

    {% if uikit.style.title.border %}
        #renderkit-body .section-title::after {
            content: '';
            position: absolute;
            left: 0;
            top: 100%;
            width: 100%;
            height: 2px;
            background-color: {{titlecolor}};
        }
    {% endif %}

    #renderkit-body .snippet-code {
        display: block;
        font-family: monospace, monospace;
        font-size: 13px;
        font-weight: normal;
        line-height: inherit;
        color: inherit;
        margin-top: 4px;
    }

    #renderkit-body .sass-var,
    #renderkit-body .sass-file-name {
        opacity: 0.7;
        color: #e31d79;
    }

    #renderkit-body .mixin-code .include {
        color: #c678dd;
    }

    #renderkit-body .mixin-code .mixin-name {
        color: #61afef;
        margin-left: -4px;
    }

    #renderkit-body .template-class {
        font-weight: bold;
        color: #d19a66;
        margin-bottom: 10px;
        opacity: 1;
    }

    #renderkit-body .fancy-label {
        display: inline-block;
        font-size: 10px;
        text-transform: uppercase;
        font-weight: bold;
        letter-spacing: 0.031em;
        padding: 4px 0.9em;
        background-color: rgba(97, 175, 239, 0.35);
        color: #4279a6;
        border: 1px solid #b9d2e7;
        border-radius: 3px;
        margin-top: 4px;
    }

    #renderkit-body .ui-snippet {
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        position: relative;
        min-width: 220px;
        font-family: monospace, monospace;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: normal;
        border-radius: 6px;
        box-shadow: {% if uikit.style.lightcode %} 0 0 14px rgba(244, 244, 244, 0.6) {% else %} 0 0 14px rgba(0, 0, 0, 0.6) {% endif %};
        margin: 0;
        padding: 0;
        overflow: auto;
    }

    #renderkit-body .ui-snippet.center {
        max-width: 680px;
        margin-left: auto;
        margin-right: auto;
    }

    #renderkit-body .ui-snippet .code-btn {
        -webkit-appearance: button;
        -moz-appearance: button;
        appearance: button;
        position: absolute;
        top: 0;
        right: 0;
        font-family: 'Montserrat', sans-serif;
        font-size: 10px;
        font-weight: bold;
        letter-spacing: 0.5px;
        {% if uikit.style.lightcode %}
            background-color: rgba(55, 55, 55, 0.55);
            color: #ffffff;
        {% else %}
            background-color: rgba(245, 245, 245, 0.45);
            color: #282c34;
        {% endif%}
        border: 0;
        border-radius: 0px 6px 0px 6px;
        padding: 4px;
        cursor: pointer;
        z-index: 1;
    }

    #renderkit-body .hljs {
        display: block;
        width: 100%;
        color: #abb2bf;
        background: #282c34;
        border-radius: 6px;
        padding: 18px 12px;
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
    }

    {% if not uikit.style.lightcode %}
        #renderkit-body .hljs-comment,
        #renderkit-body .hljs-quote {
            color: #5c6370;
            font-style: italic;
        }

        #renderkit-body .hljs-doctag,
        #renderkit-body .hljs-keyword,
        #renderkit-body .hljs-formula {
            color: #c678dd;
        }

        #renderkit-body .hljs-section,
        #renderkit-body .hljs-name,
        #renderkit-body .hljs-selector-tag,
        #renderkit-body .hljs-deletion,
        #renderkit-body .hljs-subst {
            color: #e06c75;
        }

        #renderkit-body  .hljs-literal {
            color: #56b6c2;
        }

        #renderkit-body .hljs-string,
        #renderkit-body .hljs-regexp,
        #renderkit-body .hljs-addition,
        #renderkit-body .hljs-attribute,
        #renderkit-body .hljs-meta-string {
            color: #98c379;
        }

        #renderkit-body .hljs-built_in,
        #renderkit-body .hljs-class .hljs-title {
            color: #e6c07b;
        }

        #renderkit-body .hljs-attr,
        #renderkit-body .hljs-variable,
        #renderkit-body .hljs-template-variable,
        #renderkit-body .hljs-type,
        #renderkit-body .hljs-selector-class,
        #renderkit-body .hljs-selector-attr,
        #renderkit-body .hljs-selector-pseudo,
        #renderkit-body .hljs-number {
            color: #d19a66;
        }

        #renderkit-body .hljs-symbol,
        #renderkit-body .hljs-bullet,
        #renderkit-body .hljs-link,
        #renderkit-body .hljs-meta,
        #renderkit-body .hljs-selector-id,
        #renderkit-body .hljs-title {
            color: #61aeee;
        }
    {% endif %}

    {% if uikit.style.lightcode %}
        #renderkit-body .hljs {
            color: #383a42;
            background: #fafafa;
        }

        #renderkit-body .hljs-comment,
        #renderkit-body .hljs-quote {
            color: #a0a1a7;
            font-style: italic;
        }

        #renderkit-body .hljs-doctag,
        #renderkit-body .hljs-keyword,
        #renderkit-body .hljs-formula {
            color: #a626a4;
        }

        #renderkit-body .hljs-section,
        #renderkit-body .hljs-name,
        #renderkit-body .hljs-selector-tag,
        #renderkit-body .hljs-deletion,
        #renderkit-body .hljs-subst {
            color: #e45649;
        }

        #renderkit-body .hljs-literal {
            color: #0184bb;
        }

        #renderkit-body .hljs-string,
        #renderkit-body .hljs-regexp,
        #renderkit-body .hljs-addition,
        #renderkit-body .hljs-attribute,
        #renderkit-body .hljs-meta-string {
            color: #50a14f;
        }

        #renderkit-body .hljs-built_in,
        #renderkit-body .hljs-class .hljs-title {
            color: #c18401;
        }

        #renderkit-body .hljs-attr,
        #renderkit-body .hljs-variable,
        #renderkit-body .hljs-template-variable,
        #renderkit-body .hljs-type,
        #renderkit-body .hljs-selector-class,
        #renderkit-body .hljs-selector-attr,
        #renderkit-body .hljs-selector-pseudo,
        #renderkit-body .hljs-number {
            color: #986801;
        }

        #renderkit-body .hljs-symbol,
        #renderkit-body .hljs-bullet,
        #renderkit-body .hljs-link,
        #renderkit-body .hljs-meta,
        #renderkit-body .hljs-selector-id,
        #renderkit-body .hljs-title {
            color: #4078f2;
        }
    {% endif %}

    #renderkit-body .hljs-emphasis {
        font-style: italic;
    }

    #renderkit-body .hljs-strong {
        font-weight: bold;
    }

    #renderkit-body .hljs-link {
        text-decoration: underline;
    }

    #renderkit-body #uikit-switch-item {
        position: relative;
    }

    #renderkit-body #uikit-switch-item .toggle {
        display: block;
    	width: 51px;
    	height: 31px;
        border-radius: 32px;
    }

    #renderkit-body #uikit-switch-item .toggle label,
    #renderkit-body #uikit-switch-item .toggle i {
        display: block;
        -webkit-box-sizing: border-box;
    	box-sizing: border-box;
    	background: #ffffff;
        cursor: pointer;
    }

    #renderkit-body #uikit-switch-item .toggle label {
    	width: 51px;
    	height: 32px;
    	border-radius: 32px;
    	border: 2px solid #e5e5e5;
        -webkit-transition: all 0.30s ease;
    	transition: all 0.30s ease;
    }

    #renderkit-body #uikit-switch-item .toggle i {
    	position: absolute;
    	top: 2px;
    	left: 2px;
    	width: 28px;
    	height: 28px;
    	border-radius: 28px;
        -webkit-box-shadow: 0 0 1px 0 rgba(0,0,0, 0.25), 0 3px 3px 0 rgba(0,0,0, 0.15);
    	box-shadow: 0 0 1px 0 rgba(0,0,0, 0.25), 0 3px 3px 0 rgba(0,0,0, 0.15);
    	background: #ffffff;
        -webkit-transition: all 0.3s cubic-bezier(0.275, -0.450, 0.725, 1.450);
    	transition: all 0.3s cubic-bezier(0.275, -0.450, 0.725, 1.450);
    }

    #renderkit-body #uikit-switch-item input[type="checkbox"] {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        position: absolute;
        width: 1px;
        height: 1px;
        border: 0;
        white-space: nowrap;
        clip: rect(1px, 1px, 1px, 1px);
        overflow: hidden;
        margin: -1px;
        padding: 0;
    }

    [data-whatinput="keyboard"] #renderkit-body #uikit-switch-item input[type="checkbox"]:focus + .toggle {
        outline: -webkit-focus-ring-color auto 5px;
        outline-offset: -2px;
    }

    #renderkit-body #uikit-switch-item input[type="checkbox"]:checked + .toggle label {
    	border: 16px solid #d9d9d9;
    }

    #renderkit-body #uikit-switch-item input[type="checkbox"]:checked + .toggle i {
    	left: 21px;
    }

    #renderkit-body .section-description .ui-snippet {
        max-width: 380px;
        margin-top: 10px;
    }

    #renderkit-body .info-label {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 0.031em;
        line-height: 1.4;
        color: {{globalcolor}};
        margin-top: 24px;
    }

    #renderkit-body .docs-info {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;
        line-height: 1.4;
        letter-spacing: normal;
        max-width: 380px;
        color: {{globalcolor}};
        margin-top: 4px;
    }

    #renderkit-body .docs-info .snippet-code {
        display: inline;
        font-size: 12px;
        margin: 0 2px 0 2px;
        font-size: 13px;
    }

    #renderkit-body .docs-info p {
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;
        line-height: inherit;
        letter-spacing: normal;
        color: inherit;
        margin: 0;
        padding: 0;
    }

    #renderkit-body .docs-info a {
        font-family: inherit;
        font-size: inherit;
        font-weight: normal;
        color: #61afef;
        text-decoration: underline;
    }

    #renderkit-body .docs-info ul {
        display: block;
        list-style-type: disc;
        text-transform: none;
        text-shadow: none;
        color: inherit;
        line-height: 1.45;
        padding-left: 15px;
        margin: 0;
    }
</style>
