<style type="text/css">
@keyframes -webkit-pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: inset 0 0 1px 1px rgba(221, 90, 111, 0.8);
    }

    50% {
        -webkit-box-shadow: inset 0 0 1px 1px rgba(221, 90, 111, 0.8);
        box-shadow: inset 0 0 1px 1px rgba(221, 90, 111, 0.8);
    }

    100% {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
        -webkit-box-shadow: inset 0 0 1px 1px rgba(221, 90, 111, 0);
        box-shadow: inset 0 0 1px 1px rgba(221, 90, 111, 0);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: inset 0 0 1px 1px rgba(221, 90, 111, 0.8);
    }

    50% {
        -webkit-box-shadow: inset 0 0 1px 1px rgba(221, 90, 111, 0.8);
        box-shadow: inset 0 0 1px 1px rgba(221, 90, 111, 0.8);
    }

    100% {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
        box-shadow: inset 0 0 1px 1px rgba(221, 90, 111, 0);
        box-shadow: inset 0 0 1px 1px rgba(221, 90, 111, 0);
    }
}

#renderkit-body #sass-renderkit-docs {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    background-color: rgba(221, 90, 111, 0.88);
    border-radius: 50%;
    z-index: 999;
}

@media only screen and (max-width: {{uikit.breakpoint.large + 'px'}}) {
    #renderkit-body #sass-renderkit-docs {
        top: 15px;
        right: 15px;
        width: 25px;
        height: 25px;
    }
}

@media print {
    #renderkit-body #sass-renderkit-docs {
        display: none;
    }
}

#renderkit-body #sass-renderkit-docs::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    outline: 1px solid transparent;
    -webkit-animation: pulse 2.2s infinite;
    animation: pulse 2.2s infinite;
    z-index: -1;
}

#renderkit-body #sass-renderkit-docs a {
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    text-decoration: none;
    color: inherit;
}

#renderkit-body #sass-renderkit-docs a::before,
#renderkit-body #sass-renderkit-docs a::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 10px;
    height: 2px;
    background-color: rgba(255,255,255,0.88);
    margin-top: -1px;
    margin-left: -5px;
}

#renderkit-body #sass-renderkit-docs a::after {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}
</style>
<div id="sass-renderkit-docs">
    <a href="{{uikit.sassdocumentation.file}}" target="_blank"></a>
</div>
