<style type="text/css">
    *,
    ::after,
    ::before {
        box-sizing: inherit;
    }

    html[data-render="uikit"] {
        font-family: sans-serif;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    #uikit-body-render {
        margin: 0 !important;
        padding: 0 !important;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        background-color: #fff !important;
        background-image: none !important;
        -webkit-transform: none !important;
        -ms-transform: none !important;
        transform: none !important;
    }

    #uikit-body-render #uikit-render-content {
        overflow: hidden;
        {% if uikit.aside.show %}
            padding-left: 80px;
        {% endif %}
    }

    @media print {
        #uikit-body-render #uikit-render-content {
            padding-left: 0;
        }
    }

    @media only screen and (max-width: {{uikit.breakpoint.large + 'px'}}) {
        #uikit-body-render #uikit-render-content {
            padding-left: 0;
        }
    }

    #uikit-body-render .uikit-element-render {
        background-color: #f5f5f5;
        margin: 15px;
        padding: 50px 30px;
    }

    @media only screen and (max-width: {{uikit.breakpoint.large + 'px'}}) {
        #uikit-body-render .uikit-element-render {
            padding: 20px 16px;
        }
    }

    #uikit-body-render .section-title {
        display: inline-block;
        vertical-align: middle;
        position: relative;
        font-family: 'Abril Fatface', coursive;
        font-size: 60px;
        font-weight: normal;
        line-height: normal;
        letter-spacing: -0.15vh;
        text-transform: none;
        text-shadow: none;
        color: #1a1a1c;
        opacity: 0.75;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        margin: 0;
        padding: 0;
        cursor: default;
    }

    @media only screen and (max-width: {{uikit.breakpoint.large + 'px'}}) {
        #uikit-body-render .section-title {
            font-size: 30px;
        }
    }

    #uikit-body-render .section-title::after {
        content: '';
        position: absolute;
        left: 0;
        top: 100%;
        width: 100%;
        height: 2px;
        background-color: #5d5c56;
    }

    #uikit-body-render .section-description .info-label {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 11px;
        letter-spacing: 0.031em;
        line-height: 1.4;
        color: #666;
        margin-top: 24px;
    }

    #uikit-body-render .section-description .info {
        display: block;
        font-family: 'Montserrat', sans-serif;
        font-size: 11px;
        line-height: 1.4;
        letter-spacing: normal;
        max-width: 380px;
        color: #666;
        margin-top: 3px;
    }

    #uikit-body-render .section-description .info a {
        color: #61afef;
        text-decoration: underline;
    }

    #uikit-body-render .mixin-code {
        display: block;
        font-family: monospace, monospace;
        font-size: 13px;
        line-height: inherit;
        margin-top: 3px;
    }

    #uikit-body-render .mixin-code .include {
        color: #c678dd;
    }

    #uikit-body-render .mixin-code .mixin-name {
        color: #61afef;
        margin-left: -4px;
    }

    #uikit-body-render .sass-code,
    #uikit-body-render .sass-file-name,
    #uikit-body-render .template-class {
        display: block;
        font-family: monospace, monospace;
        font-size: 13px;
        line-height: inherit;
        color: #e31d79;
        opacity: 0.70;
        margin-top: 3px;
    }

    #uikit-body-render .template-class {
        font-weight: bold;
        color: #d19a66;
        margin-bottom: 10px;
        opacity: 1;
    }

    #uikit-body-render .sass-function-snippet {
        display: inline-block;
        vertical-align: bottom;
        font-family: monospace, monospace;
        font-size: 12px;
        font-weight: bold;
        letter-spacing: normal;
        background-color: #282c34;
        color: #828997;
        border-radius: 6px;
        box-shadow: 0 0 14px rgba(0, 0, 0, 0.6);
        margin-top: 10px;
        padding: 12px;
    }

    @media only screen and (max-width: {{uikit.breakpoint.medium + 'px'}}) {
        #uikit-body-render .sass-function-snippet {
            display: block;
            white-space: nowrap;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
        }
    }

    #uikit-body-render .sass-function-snippet span {
        font-family: inherit;
        font-size: inherit;
        font-weight: inherit;
    }

    #uikit-body-render .sass-function-snippet .selector {
        font-family: monospace, monospace;
        font-size: inherit;
        font-weight: inherit;
        color: #d19a66;
    }

    #uikit-body-render .sass-function-snippet .brackets,
    #uikit-body-render .sass-function-snippet .property {
        display: inline-block;
        font-family: monospace, monospace;
        color: #fff;
    }

    #uikit-body-render .sass-function-snippet .property-group {
        display: block;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-left: 25px;
    }

    #uikit-body-render .sass-function-snippet .sass-function {
        color: #56b6c2;
        margin-left: 5px;
    }

    #uikit-body-render .sass-function-snippet .function-sass-param {
        color: #d19a66;
    }

    #uikit-body-render .sass-function-snippet .semicolon {
        color: #fff;
    }

    .hljs {
      display: block;
      overflow-x: auto;
      padding: 0.5em;
      color: #abb2bf;
      background: #282c34;
    }

    .hljs-comment,
    .hljs-quote {
      color: #5c6370;
      font-style: italic;
    }

    .hljs-doctag,
    .hljs-keyword,
    .hljs-formula {
      color: #c678dd;
    }

    .hljs-section,
    .hljs-name,
    .hljs-selector-tag,
    .hljs-deletion,
    .hljs-subst {
      color: #e06c75;
    }

    .hljs-literal {
      color: #56b6c2;
    }

    .hljs-string,
    .hljs-regexp,
    .hljs-addition,
    .hljs-attribute,
    .hljs-meta-string {
      color: #98c379;
    }

    .hljs-built_in,
    .hljs-class .hljs-title {
      color: #e6c07b;
    }

    .hljs-attr,
    .hljs-variable,
    .hljs-template-variable,
    .hljs-type,
    .hljs-selector-class,
    .hljs-selector-attr,
    .hljs-selector-pseudo,
    .hljs-number {
      color: #d19a66;
    }

    .hljs-symbol,
    .hljs-bullet,
    .hljs-link,
    .hljs-meta,
    .hljs-selector-id,
    .hljs-title {
      color: #61aeee;
    }

    .hljs-emphasis {
      font-style: italic;
    }

    .hljs-strong {
      font-weight: bold;
    }

    .hljs-link {
      text-decoration: underline;
    }
</style>
