<div id="ui-menu-toggle">
    <button type="button" class="trigger" tabindex="0" aria-label="open menu" aria-controls="#overlay-ui-nav"></button>
</div>

<style type="text/css">
@keyframes -webkit-pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: inset 0 0 1px 1px rgba(221, 90, 111, 0.8);
    }

    50% {
        -webkit-box-shadow: inset 0 0 1px 1px rgba(221, 90, 111, 0.8);
        box-shadow: inset 0 0 1px 1px rgba(221, 90, 111, 0.8);
    }

    100% {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
        -webkit-box-shadow: inset 0 0 1px 1px rgba(221, 90, 111, 0);
        box-shadow: inset 0 0 1px 1px rgba(221, 90, 111, 0);
    }
}

@keyframes pulse {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1);
        box-shadow: inset 0 0 1px 1px rgba(221, 90, 111, 0.8);
    }

    50% {
        -webkit-box-shadow: inset 0 0 1px 1px rgba(221, 90, 111, 0.8);
        box-shadow: inset 0 0 1px 1px rgba(221, 90, 111, 0.8);
    }

    100% {
        -webkit-transform: scale(1.6);
        transform: scale(1.6);
        box-shadow: inset 0 0 1px 1px rgba(221, 90, 111, 0);
        box-shadow: inset 0 0 1px 1px rgba(221, 90, 111, 0);
    }
}

#renderkit-body #ui-menu-toggle {
    position: fixed;
    top: 30px;
    right: 30px;
    width: 30px;
    height: 30px;
    background-color: rgba(221, 90, 111, 0.88);
    border-radius: 50%;
    z-index: 1000;
}

@media print {
    #renderkit-body #ui-menu-toggle {
        display: none;
    }
}

#renderkit-body #ui-menu-toggle::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    outline: 1px solid transparent;
    -webkit-animation: pulse 2.2s infinite;
    animation: pulse 2.2s infinite;
    z-index: -1;
}

#renderkit-body #ui-menu-toggle.open::after {
    -webkit-animation: none;
    animation: none;
}

#renderkit-body #ui-menu-toggle .trigger {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    position: relative;
    display: block;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0;
    border-radius: inherit;
    text-decoration: none;
    color: inherit;
}

#renderkit-body #ui-menu-toggle .trigger::before,
#renderkit-body #ui-menu-toggle .trigger::after {
    content: '';
    position: absolute;
    top: calc(50% - 1px);
    left: calc(50% - 5px);
    width: 10px;
    height: 2px;
    background-color: #fff;
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

#renderkit-body #ui-menu-toggle .trigger::after {
    -webkit-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    transform: rotate(-90deg);
}

#renderkit-body #ui-menu-toggle.open .trigger::after {
    opacity: 0;
}
</style>
