<section class="uikit-section-type">
    <div class="controllers" hidden="true">
        {% include "sections/svg/svg-style.njk" %}
        {% include "sections/svg/svg-script.njk" %}
    </div>
    <h2 class="section-title">Svg Icons</h2>
    <h3 class="section-title-type">SVG Inline</h3>
    {% include "sections/svg/svg-content.njk" %}
</section>
