{% set rowclass = uikit.section.form.rowclass %}
{% set labelclass = uikit.section.form.labelclass %}
<style type="text/css">
#renderkit-body .uikit-form-render {
    max-width: 680px;
    margin: 60px auto 0;
}

#renderkit-body .uikit-form::before,
#renderkit-body .uikit-form::after {
    content: '';
    display: table;
}

#renderkit-body .uikit-form::after {
    clear: both;
}

#renderkit-body .uikit-form-render .uikit-form {
    margin-left: -10px;
    margin-right: -10px;
}

#renderkit-body .uikit-form .{{rowclass}} {
    margin-bottom: 20px;
}

#renderkit-body .uikit-form .{{rowclass}}.wide {
    float: left;
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}

#renderkit-body .uikit-form .{{rowclass}}.split {
    float: left;
    width: 50%;
    padding-left: 10px;
    padding-right: 10px;
}

@media only screen and (max-width: {{uikit.breakpoint.large + 'px'}}) {
    #renderkit-body .uikit-form .{{rowclass}}.split {
        width: 100%;
    }
}

#renderkit-body .uikit-form .{{rowclass}}.no-gutter {
    padding-left: 0;
    padding-right: 0;
}

#renderkit-body .uikit-form .{{labelclass}} {
    display: block;
}

#renderkit-body .uikit-form .radio-group .input-radio:not(:last-of-type) {
    margin-right: 10px;
}

#renderkit-body .uikit-form .checkbox-radio-group .{{labelclass}} {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #cdcdcd;
}

#renderkit-body .ui-form-snippet .ui-snippet {
    max-width: 680px;
    margin-left: auto;
    margin-right: auto;
}
</style>
