<section class="uikit-element-render">
    <h2 class="section-title">Form</h2>
    <div class="section-description">
        {% include "sections/form/form-info.njk" %}
    </div>
    {% include "sections/form/form-style.njk" %}
    {% include "sections/form/form-content.njk" %}
</section>
