{% include "sections/fonts/fonts.njk" %}
{% include "sections/typography/typography.njk" %}
{% include "sections/palette/palette.njk" %}
{% if uikit.section.globalflexbox %}
    {% include "sections/xy-grid/xy-grid.njk" %}
    {% include "sections/flexbox/flexbox.njk" %}
{% else %}
    {% include "sections/float-grid/float-grid.njk" %}
{% endif %}
{% include "sections/form/form.njk" %}

{% if uikit.section.customsectionsrender.show %}
    {% for section in uikit.customsections %}
        <section class="uikit-element-render {{section.sectionclass}}">
            <h2 class="section-title">{{section.title}}</h2>
            <div class="section-description">
                {% include section.renderpath + section.renderfile + "-info.njk" ignore missing %}
            </div>
            {% include section.renderpath + section.renderfile + "-style.njk" ignore missing %}
            {% include section.renderpath + section.renderfile + "-script.njk" ignore missing %}
            {% include section.renderpath + section.renderfile + "-content.njk" %}
        </section>
    {% endfor %}
{% endif %}
