<section class="uikit-section-type">
    <div class="controllers" hidden="true">
        {% if page.uikit.flexgrid.show %}
            {% include "sections/grid/xy-grid-style.njk" %}
        {% endif %}
        {% if page.uikit.floatgrid.show %}
            {% include "sections/grid/float-grid-style.njk" %}
        {% endif %}
    </div>
    <h2 class="section-title">Grid</h2>
    {% if page.uikit.flexgrid.show %}
        {% include "sections/grid/xy-grid-content.njk" %}
    {% endif %}
    {% if page.uikit.floatgrid.show %}
        {% include "sections/grid/float-grid-content.njk" %}
    {% endif %}
</section>
