{% set projectname = page.uikit.projectname %}
<div class="uikit-intro-section">
    <h1 class="global-project-title">
        <span class="intro-label">UIKIT for</span>
            <span class="project">
                {{projectname}}
            </span>
        </h1>
        <div class="intro-description">
            <p>
                Welcome to the UIKIT render of your project. <br />
                Each section rendered below is controlled according to the installed mixins, even if some sections are independent. <br /> If you have globally installed the mixin <code class="sass-code">sass</code> of "boilerplate-standard" you will find included:
                <ul class="technology-used-list">
                    <li>
                        <a href="https://github.com/necolas/normalize.css" target="_blank" class="vendor-name">Normalize:</a>
                    </li>
                </ul>
            </p>
        </div>
</div>
