<link href="https://fonts.googleapis.com/css?family=Abril+Fatface" rel="stylesheet">
<style>
*, ::after, ::before {
    box-sizing: inherit;
}

.uikit-body-render {
    margin: 0;
    padding-bottom: 60px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.uikit-section-type {
    display: block;
    position: relative;
    min-height: 400px;
    overflow: hidden;
    margin: 0;
    padding: 60px 30px 0;
}

.uikit-section-type .controllers {
    display: none;
}

.uikit-section-type .section-title {
    position: absolute;
    top: 50%;
    left: 30px;
    font-family: 'Abril Fatface', cursive;
    font-size: 280px;
    font-weight: normal;
    letter-spacing: 12px;
    line-height: 1.4;
    text-transform: none;
    color: inherit;
    margin: 0;
    opacity: 0.028;
    pointer-events: none;
    -webkit-mix-blend-mode: difference;
    mix-blend-mode: difference;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: -1;
}

.uikit-section-type .section-title-type {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 0.031rem;
    line-height: 1;
    color: #666666;
    margin: 0 0 5px 0;
}

.uikit-section-type .description-type {
    font-size: 13px;
    line-height: 1.4;
    letter-spacing: normal;
    text-transform: none;
    max-width: 450px;
}

.uikit-section-type .sass-code {
    display: inline;
    font-family: monospace, monospace;
    font-size: 1em;
    color: #e31d79;
}

.uikit-section-type .function-code {
    display: inline;
    font-family: monospace, monospace;
    font-size: 1em;
    color: #44a8b6;
}

.uikit-section-type .render-grid-content:not(:first-of-type) {
    margin-top: 80px;
}
</style>
