<script type="text/javascript">
function toggleExtraInfo() {
    var buttonsControl = document.querySelectorAll('.button-control-extra');

    for (var i = 0; i < buttonsControl.length; i++) {
        buttonsControl[i].addEventListener('click', function(event) {
            event.preventDefault();
            document.getElementById('uikit-body-render').classList.toggle('open');
        });
    }
}

window.addEventListener('load', function() {
    toggleExtraInfo();
});
</script>
