<div id="foundation-flex-classes" class="large-flex-container align-center-middle">
    <div class="flex-render-cell">
        <div class="flex-cell flex-container align-right">
            <div class="uikit-flex-children flex-container align-center-middle">
                <span>child</span>
            </div>
        </div>
        <div class="flex-class-group">
            {{ snippet.templateclass('flex-container')}}
            {{ snippet.templateclass('align-right')}}
        </div>
    </div>
    <div class="flex-render-cell">
        <div class="flex-cell flex-container align-bottom">
            <div class="uikit-flex-children flex-container align-center-middle">
                <span>child</span>
            </div>
        </div>
        <div class="flex-class-group">
            {{ snippet.templateclass('flex-container')}}
            {{ snippet.templateclass('align-bottom')}}
        </div>
    </div>
    <div class="flex-render-cell">
        <div class="flex-cell flex-container align-middle">
            <div class="uikit-flex-children flex-container align-center-middle">
                <span>child</span>
            </div>
        </div>
        <div class="flex-class-group">
            {{ snippet.templateclass('flex-container')}}
            {{ snippet.templateclass('align-middle')}}
        </div>
    </div>
    <div class="flex-render-cell">
        <div class="flex-cell flex-container align-center-middle">
            <div class="uikit-flex-children flex-container align-center-middle">
                <span>child</span>
            </div>
        </div>
        <div class="flex-class-group">
            {{ snippet.templateclass('flex-container')}}
            {{ snippet.templateclass('align-center-middle')}}
        </div>
    </div>
</div>
