{#
- Don't rename or remove `font-list` tag. It's necessary for render your installed Fonts.
#}

<p class="description-type">
    To view the installed fonts, simply edit the variables:  <br /><br />
    &bull; <code class="sass-code">$google-fonts-name</code> (for Google Font). Each font installed via Google Font accept the name of the font after string <code class="function-code">`?family=`.</code> <br />
    Be sure that the variable: <code class="sass-code">$google-fonts-load</code> is set to <code class="sass-code">true</code>. <br /><br />
    &bull; <code class="sass-code">$font-face-map</code> (for Font-Face fonts). For fonts loaded via "Font face", instead, it is necessary to indicate the value of each key of the object <code class="sass-code">$font-face-map</code>. Each key indicated will agree with the name of our font. <br />
    Be sure that the variable: <code class="sass-code">$font-face-load</code> is set to <code class="sass-code">true</code>.

    <div class="info-button-control" data-expand="side-extra-info-fonts">
        <button type="button" class="button-control-extra"></button>
    </div>
</p>

<ul id="font-list" class="font-list"></ul>
