<style>
#uikit-body-render #font-list {
    display: block;
    width: 100%;
    max-width: 1400px;
    list-style-type: none;
    letter-spacing: normal;
    line-height: normal;
    text-align: center;
    margin: 80px auto 0;
    padding: 0;
}

@media only screen and (max-width: {{uikit.breakpoint.large + 'px'}}) {
    #uikit-body-render #font-list {
        margin: 40px auto 0;
    }
}

#uikit-body-render #font-list li {
    display: inline-block;
    vertical-align: middle;
    width: 285px;
    height: auto;
    text-align: center;
    letter-spacing: normal;
    color: #1a1a1c;
    opacity: 0.75;
    margin: 0;
    padding: 16px 16px 25px;
}

@media only screen and (max-width: {{uikit.breakpoint.medium + 'px'}}) {
    #uikit-body-render #font-list li {
        width: 100%;
    }
}

#uikit-body-render #font-list li p {
    display: block;
    font-family: inherit;
    font-size: 90px;
    font-weight: normal;
    font-style: normal;
    text-align: center;
    text-transform: none;
    line-height: 1;
    letter-spacing: normal;
    color: inherit;
    margin: 0;
    padding: 0;
}

@media only screen and (max-width: {{uikit.breakpoint.medium + 'px'}}) {
    #uikit-body-render #font-list li p {
        font-size: 70px;
    }
}

#uikit-body-render #font-list li .family-name {
    display: block;
    font-family: inherit;
    font-size: 14px;
    font-weight: normal;
    font-style: inherit;
    letter-spacing: normal;
    color: inherit;
    margin: 0;
    padding: 4px 0 0 0;
}

#uikit-body-render #font-list li a,
#uikit-body-render #font-list li em {
    font-size: 11px;
    font-style: normal;
    font-weight: normal;
    letter-spacing: normal;
    text-decoration: underline;
}

#uikit-body-render #font-list li a {
    -webkit-transition: opacity 0.3s ease;
    transition: opacity 0.3s ease;
}

#uikit-body-render #font-list li a:hover {
    opacity: 0.7;
}

#uikit-body-render #font-list h2 {
    font-family: 'Abril Fatface', coursive;
    font-size: 24px;
    font-weight: bold;
    text-transform: none;
    text-shadow: none;
    letter-spacing: 0.031em;
    line-height: 1.4;
    color: #1a1a1c;
    opacity: 0.75;
}

@media only screen and (max-width: {{uikit.breakpoint.large + 'px'}}) {
    #uikit-body-render #font-list h2 {
        font-size: 20px;
    }
}
</style>
