{% if uikit.section.fonts.show %}
    <section class="uikit-element-render">
        <h2 class="section-title">Fonts</h2>
        <div class="section-description">
            {% include "sections/fonts/fonts-info.njk" %}
        </div>
        {% include "sections/fonts/fonts-style.njk" %}
        {% include "sections/fonts/fonts-script.njk" %}
        {% include "sections/fonts/fonts-content.njk" %}
    </section>
{% endif %}
