<section class="uikit-section-type">
    <div class="controllers" hidden="true">
        {% include "sections/fonts/fonts-script.njk" %}
        {% include "sections/fonts/fonts-style.njk" %}
    </div>
    <h2 class="section-title">Fonts</h2>
    <h3 class="section-title-type">Fonts installed</h3>
    {% include "sections/fonts/fonts-content.njk" %}
</section>
