{{ infolabel('Primary Mixin') }}
{{ mixin('global-fonts') }}

{{ infolabel('Related Mixin') }}
{{ mixin('font-face') }}

{{ infolabel('Variabiles') }}
{{ sassvar('google-fonts-family') }}
{{ sassvar('font-face-map') }}

{{ infolabel('Function for font-face') }}
{{ sassfunction('font-family','font','$nth-key-font-face-map') }}
