// @mixin: float clasess
// @author: mbertoldo@alpenite.com
// @access: private
// @note: packages of classes to be invoked via template

@mixin float-classes {
    /*@float classes*/
    @each $float in (left, right, center) {
        .float-#{$float} {
            @if ($float == 'center') {
                display: block;
            	margin-left: auto;
            	margin-right: auto;
            } @else {
                float: $float;
            }
        }
    }
}
