<section class="uikit-section-type">
    <div class="controllers" hidden="true">
        {% include "include/uikit/typography/typography-scripts.njk" %}
        {% include "include/uikit/typography/typography-style.njk" %}
    </div>
    <h1 class="section-title">Typography</h1>
    <h2 class="section-title-type">
        <span class="text">Fonts installed</span>
    </h2>
    {% include "include/uikit/typography/typography-content.njk" %}
</section>
