{% extends "layout/ui/ui-base.njk" %}

{% block head %}
    <link rel="stylesheet" href="css/renderkit.min.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/what-input/5.0.5/what-input.min.js"></script>
{% endblock %}

{% block uikit %}
    {% include "sections/sections.njk" %}
{% endblock %}
