// @global elements shapes & classes
// @author: mbertoldo@alpenite.com
// @component: core

/*@shapes elements*/

// @set: placeholder mixin for arrow "base style".
// -----------------

%arrow-base-style {
    display: block;
	width: 20px;
	height: 20px;
	border: solid $global-arrow-color;
	border-width: 0 $global-arrow-width $global-arrow-width 0;
}

// @print: arrow classes & direction support.
// -----------------

.shape-arrow {
	@extend %arrow-base-style;

    $arrow-direction: (
    	down: 45deg,
    	up: -135deg,
    	right: -45deg,
    	left: 135deg
    );

	@each $direction, $transform in $arrow-direction {
		&.#{$direction} {
			transform: rotate3d(0, 0, 1, $transform);
		}
	}
}

.shape-checkmark {
    @include arrow(10px, 20px, $global-checkmark-color, $global-checkmark-width, down);
}

.full-rounded {
	border-radius: 50%;
}
