{{ infolabel('Primary Mixin') }}
{{ mixin('foundation-grid') }}

{{ infolabel('Related Mixin') }}
{{ mixin('clearfix-classes') }}

{{ infolabel('Variabiles') }}
{{ sassvar('grid-column-align-edge') }}
{{ sassvar('grid-column-alias') }}

{{ infolabel('Info') }}
<span class="info">
    For a complete documentation on the use of this grid system and mixins consult <a href="https://foundation.zurb.com/sites/docs/grid.html" target="_blank">this page</a>.
</span>
