{% extends "layout/default.njk" %}
{% set title = page.uikit.title %}
{% set description = page.uikit.description %}

{% block content %}
    {% include "include/uikit/palette-script.njk" %}
    {% include "include/uikit/ui-styles.njk" %}
    <main>
        <section class="section-type typhograpy">
            <h1 class="section-title">Typography</h1>
        </section>
    </main>
    {% include "include/base/footer.njk" %}
{% endblock %}
