{% extends "layout/uikit-base.njk" %}
{% block uikitcontent %}
    {% include "include/uikit/ui/ui-style.njk" %}
    {% include "include/uikit/ui/ui-script.njk" %}
    {% include "include/uikit/ui/ui-intro.njk" %}
    {% include "include/uikit/fonts/fonts.njk" %}
    {% include "include/uikit/typography/typography.njk" %}
    {% include "include/uikit/palette/palette.njk" %}
    {% include "include/uikit/grid/grid.njk" %}
    {% include "include/uikit/svg/svg.njk" %}
{% endblock %}
