// Mixin for visuallyhidden.
// @note: this hide the target element visually only, but not it's interaction.
// --------------------------------

@mixin visuallyhidden {
    position: absolute !important;
    width: 1px !important;
    height: 1px !important;
    border: 0 !important;
    white-space: nowrap !important;
    clip: rect(1px, 1px, 1px, 1px) !important;
    overflow: hidden !important;
    margin: -1px !important;
    padding: 0 !important;
}

// Mixin for visuallyhidden-off.
// @note: restores the style applied by `visuallyhidden` mixin.
// --------------------------------

@mixin visuallyhidden-off {
    position: static !important;
    width: auto !important;
    height: auto !important;
    border: initial !important;
    white-space: inherit !important;
    clip: none !important;
    overflow: inherit !important;
    margin: 0 !important;
}

// Clearfix Mixin, restores the height if the children have a float set.
// @note: $flex -> (http://danisadesigner.com/blog/flexbox-clear-fix-pseudo-elements/)
// --------------------------------

@mixin clearfix {
	&::before, &::after {
		content: '';
		display: table;

		@if ($flex) {
			flex-basis: 0;
			order: 1;
		}
	}

	&::after {
		clear: both;
	}
}

// Mixin for create a "layer" position.
// @note: can be used for modals.
// @author: mbertoldo@alpenite.com
// --------------------------------

@mixin layer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

// Mixin for simplify the syntax for iOS smooth scroll
// --------------------------------

@mixin ios-scroll {
    -webkit-overflow-scrolling: touch;
}
