// Mixin for font face rule.
// @require: {function} str-replace
// @author: mbertoldo@alpenite.com
// @access: private

// Function for string replace.
// @param: {String}
// @return: str-replace($mystring, $string-to-replace, $replacer);
// @note: https://css-tricks.com/snippets/sass/str-replace-function/
// --------------------------------

@function str-replace($string, $search, $replace: '') {
	$index: str-index($string, $search);

	@if $index {
		@return str-slice($string, 1, $index - 1) + $replace + str-replace(str-slice($string, $index + str-length($search)), $search, $replace);
	}

	@return $string;
}

// Function for catch "font-family" in `$font-face-map`.
// @note: use -> .my-text { font-family: font(1); }
// @author: mbertoldo@alpenite.com
// --------------------------------

@function font($font-family-key) {
    $list: $font-face-map;
    $key: map-keys($list);
    $map-length: length($list);

    @if ($font-family-key > $map-length) {
        @warn 'No font-family found in `$font-face-map` map.';
    } @else {
        $value: nth($key, $font-family-key);

        @return $value;
    }
}

// @font-face mixin.
// @note: only define as String your Font Name and define your "font file name".
// @note: if you have subfolders where is your font files, just simply define the folder where is this, before font file name. Ex ´mysubfolderfont/my_awesome_font_file_name´.
// @note: important the `$font-dir` is defined on config @typography.scss
// @use: @include font-face(GillSans, 'subpath/gillsans', normal, 400, eot woff woff2 ttf svg);
// --------------------------------

@mixin font-face($font-name, $font-file, $style: normal, $weight: 400, $extensions: eot woff woff2 ttf svg) {
	$filepath: $font-dir + $font-file;
    $src: null;
    $extmods: (
		eot: "?#iefix",
		svg: "#" + str-replace($font-name, ' ', '_')
	);
	$formats: (
		otf: "opentype",
		ttf: "truetype"
	);

	@each $extension in $extensions {
		$extmod: if(map-has-key($extmods, $extension), $extension + map-get($extmods, $extension), $extension);
		$format: if(map-has-key($formats, $extension), map-get($formats, $extension), $extension);
        $src: append($src, url(quote($filepath + "." + $extmod)) format(quote($format)), comma);
	}

	@font-face {
		font: {
            family: quote(#{$font-name});
			style: $style;
			weight: $weight;
		}
        src: $src;
    }
}
